<?php
/**
 * Template for requests display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
$_requests = $block->getRequestsCollection();
$customerSession = $block->getCustomerSession();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$urlInterface = $objectManager->get('\Magento\Framework\UrlInterface');

// calling helper data for system config.
$helper = $this->helper('Bobcares\Quote2Sales\Helper\Adminhtml\Config');
$isRequestForQuoteformEnabledinConfig = $helper->getEnabled();
?>

<?php if (!$customerSession->isLoggedIn()):
        $customerSession->setAfterAuthUrl($urlInterface->getCurrentUrl());
    $customerSession->authenticate();?>
<?php else:?>

<div class="page-title title-buttons">

        <!-- Enabling and disabling the 'Add New Request' button using the Admin config. -->
        <?php if ($isRequestForQuoteformEnabledinConfig == 1): ?>
            <button type="button" title="<?php echo "Add New Request"; ?>" class="action primary add" onclick="window.location = '<?php echo $this->getUrl('*/index/') ?>';"><span><span><?php echo "Add New Request"; ?></span></span></button>
        <?php endif; ?> 
    </div>

    <?php if ($_requests && count($_requests)): ?>
        <div class="table-wrapper orders-history">
            <table class="data table table-order-items history" id="my-orders-table">
                <col width="5" />
                <col width="5" />
                <col width="5"/>
                <col width="5" />
                <col width="5" />
                <thead>
                    <tr class="request-head">
                        <th scope="col" class="col id">Request ID</th>
                        <th scope="col" class="col date">Date</th>
                        <th scope="col" class="col id">Preferred Contact</th>
                        <th scope="col" class="col id">Request</th>
                        <th scope="col" class="col id">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($_requests as $_item):
                        $id = $_item['request_id'];
                        $comment = $_item['comment'];

                        //$comment_visible = substr($comment, 0, $comment_length);
                        //$comment_invisible = substr($comment, $comment_length);
                        $created_at = $_item["created_at"];
                        $name = $_item["name"];
                        $email = $_item["email"];
                        $phone = $_item["phone"];
                        $requestStatus = $_item["status"];
                        ?>
                        <tr>
                            <td><?php echo $id; ?></td>
                            <td><span class="nobr"><?php echo $this->formatDate($created_at); ?></span></td>
                            <td><?php echo $email; ?><br><?php echo $phone; ?></td>
                            <td><?php echo $comment; ?></td>  

                            <?php
                            //Update status of the request in DB
                            //$requestModel = $objectManager->create('\Bobcares\Quote2Sales\Model\RequestStatus');
                            $requestData = $this->requestStatus->getRequestData($id);

                            //If tehre is no quote/order for the request then display the status as "Waiting"
                            //Else display the status based on the quote and order
                            //Fetch each quote/order data
                            foreach ($requestData as $value) {

                                $quoteId = $value['quote_id'];
                                $orderId = $value['order_id'];
                                $status = $value['status'];
                            }
                            ?>
                            <td>
                                <?php if ($requestStatus == 'Converted To Quote') { ?>
                                    <?php echo $requestStatus . " : "; ?>

                                    <a href="<?php echo $this->getUrl("*/index/view", array('quote_id' => $quoteId)) ?>"><?php echo __('View Quote') ?></a>
                                    <br/>
                                    <?php
                                } else {
                                    echo $requestStatus;
                                }
                                ?>
                            </td>
                        </tr>
        <?php endforeach; ?>
                </tbody> 
            </table> 
        </div>

        <!-- Adding the pagination -->
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif; ?>    

        <!-- Adding the back button -->
        <div class="buttons-set">
            <p class="back-link"><a href="<?php echo $block->getUrl('customer/account') ?>"><small>&laquo; </small><?php echo __('Back'); ?></a></p>
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have no requests.'); ?></span></div>
    <?php endif; ?>
<?php endif; ?>
    