<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="autodrop" title="autodrop" type="button" class="action-default scalable primary" onclick="setLocation('<?php echo $this->getAutoDropUrl(); ?>');"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Auto Drop'); ?></span>
        </button>

        <button id="autodroplogs" title="autodroplogs" type="button" class="action-default scalable" onclick="setLocation('<?php echo $this->getAutoDropLogsUrl(); ?>');"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Auto Drop logs'); ?></span>
        </button>
    </div>
</div>

<script>

    require(["dropship"], function(){
        objDropShip = new AdminDropShip();
        objDropShip.init(
            '<?php echo $this->getDropShipUrl(); ?>',
            '<?php echo $this->getCancelDropShipUrl(); ?>',
            '<?php echo $this->getConfirmPendingUrl(); ?>',
            '<?php echo $this->getConfirmShippingUrl(); ?>',
            '<?php echo $this->getPriceUrl(); ?>',
            <?php echo $this->supplierValidationEnabled(); ?>,
            <?php echo $this->showConfirmationPopup(); ?>
        );
    });
</script>