body.promotion-index-display{
	background-image: url("../images/karcher.jpg") !important;
	background-repeat: repeat-y;
	background-position: center;
}
.bg-heading {
    background: #feed01;
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
    font-size: 20px;
}
.f-logo-2 {
    float: left;
    width: 360px;
	margin: 0 40px 24px 0;
}
.f-logo-2 img {
    width: 100%;
}
.content-1 {
    padding: 30px 0 0 0;
    border: none;
}
.content-2 {
    padding: 0px 0 0 0;
    border: none;
}
.info h3{
	margin-top: 0;
}

.info a.linkz {
    color: #2b303c;
    overflow: hidden;
    font: 700 14px/20px 'Open Sans',Arial,sans-serif;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
    padding-bottom: 10px;
}

.info a.linkz:last-child {
    margin-top: 0;
}

.product-promotion{
	background: #ededed;
}
.product-promotion .three-cols{
	background-color: #ededed;
}
.product-promotion article{
	width: 20%;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
	margin: 10px 0;
}
.product-promotion article figure{
	width: 100%;
	position: relative;
	border: 1px solid #ddd;
	margin: 0 0 10px 0;
	display: block;
}
.product-promotion article figure img{
	width: 100%;
}

.grey-faded .product-promotion article figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.product-promotion article figure figcaption:last-child {
    display: none;
}
.product-promotion .product-details a {color: #2b303c; text-decoration: none;}
.product-promotion .product-details a:hover {color: #0097ba;}
.product-promotion article figure figcaption{
	position: absolute;
	top: -11px;
	z-index: 2;
	background: #f33;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	color: #fff;
	padding: 0 10px;	
}

.product-promotion article figure figcaption:after {
    position: absolute;
    content: "";
    height: 23px;
    width: 8px;
    left: 110px;
    top: 0;
}
.product-promotion article strong{
	color: #ff3028;
}
.product-promotion article strong span{
	font-weight: normal;
	font-size: 12px;
}
.product-promotion article label{
	text-decoration: line-through;
}
.grey-faded .bg-heading , .grey-faded .product-promotion article figure figcaption{
	background: #9c9c9c;
}
.grey-faded .product-details a , .grey-faded .product-details strong , .grey-faded .product-details label{
	color: #9c9c9c;
}

.grey-faded  .three-cols .info-col .img-holder img,
.grey-faded .three-cols .info-col-text .col-logo img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
@media screen and (max-width: 1024px) {
.main-content .three-cols.mobile{
	display: block !important;
}
.product-promotion article{
	width: 33.3%;		
}
}
@media screen and (max-width: 600px) {
.main-content .three-cols.mobile{
	display: block !important;
}
.product-promotion article{
	width: 50%;		
}
}