<?php

/**
 * @var Meridian\ProductAvailable\Block\Product\View\Type\Simple $block ;
 *
 */


if ($block->getMessageFront()) {
    $data = $block->getMessageFront();
    $class = 'product-availability-'.$data['status'];
   ?>
<div class="in-stock-available-product">
   <div class="<?=$class?>"><?=$data['message']?></div>
</div>
<?php
}
?>

