<?php
/** @var \Meridian\Base\Block\Attachment $block */
$product = $block->getCurrentProduct();
$attachmentName = $block->getAttachmentName($product);
?>
<?php if(!empty($attachmentName)): ?>
<div class="product-attachment" style="margin-bottom: 10px;">
    <p class="attachment-title"><?php echo __('Fiche technique'); ?></p>
    <?php if($block->isUseBrowserDownload()): ?>
        <a  href="<?php /* @noEscape */ echo $block->getAttachmentUrl($product); ?>" download="<?php /* @noEscape */ echo $attachmentName; ?>">
            <?php /* @noEscape */ echo $attachmentName; ?>
        </a>
    <?php else: ?>
        <a  href="<?php /* @noEscape */ echo $block->getAttachmentDownloadUrl($product); ?>">
            <?php /* @noEscape */ echo $attachmentName; ?>
        </a>
    <?php endif; ?>
</div>
<?php endif; ?>