<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\Review\Block\Product\View\ListView $block */

/** @var \Meridian\Review\Helper\Data $helperReview */
$helperReview = $this->helper('Meridian\Review\Helper\Data');

$_items = $block->getReviewsCollection()->setPageSize(4)->getItems();

$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($block->getProductId());
$helperUser = $this->helper('Meridian\CustomerStatus\Helper\Data');
?>



<?php if (count($_items)): ?>
    <div class="block review-list" id="customer-reviews">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Commentaires des clients pour %1', $product->getName())) ?></strong>
        </div>
        <div class="block-content">
            <div class="toolbar review-toolbar">
                <?= $block->getChildHtml('toolbar') ?>
            </div>
            <ol class="items review-items">
                <?php foreach ($_items as $_review): ?>
                    <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                    <div class="left_column">
                        <?php if (count($_review->getRatingVotes())): 
                            if(count($_review->getRatingVotes()) == 2){
                            ?>
                            <div class="review-ratings two-ratings">
                            <?php } else { ?>
                                <div class="review-ratings">
                                <?php } ?>   
                                <?php
                                $allRatings = 0;
                                $countReview = 0;
                                ?>
                                <?php foreach ($_review->getRatingVotes() as $_vote):
                                if($countReview == 2){
                                ?>
                                <div class="rating-summary item beauty" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                <?php } else { ?>
                                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <?php } ?>
                                    <div class="label rating-label">
                                        <span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span>
                                    </div>
                                    <?php  
                                        if($countReview == 2){
                                        $final = ($priceRating + $qualityRating)/2;  
                                    ?>
                                    <div class="rating-result" title="<?php echo $final; ?>%">
                                        <meta itemprop="worstRating" content="1"/>
                                        <meta itemprop="bestRating" content="100"/>
                                        <span style="width:<?= $block->escapeHtml($final+2) ?>%"><span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span></span>
                                        <?php } else { ?>
                                            <div class="rating-result" title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                                            <meta itemprop="worstRating" content="1"/>
                                            <meta itemprop="bestRating" content="100"/>
                                            <span style="width:<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%"><span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span></span>
                                        <?php } ?> 
                                    </div>
                                </div>
                                <?php
                                if($countReview==0){
                                    $priceRating = $_vote->getPercent();
                                }
                                else if($countReview==1)
                                {
                                    $qualityRating = $_vote->getPercent();
                                }
                               
                                $allRatings += $_vote->getPercent();
                                $countReview++;
                                ?>
                                <?php endforeach; ?>
                            </div>
                            <?php $sumPercent = $allRatings/$countReview?>
                                <!-- <div class="rating-summary item over_sum" itemprop="reviewRating" itemscope
                                     itemtype="http://schema.org/Rating">
                                    <div class="rating-result"
                                         title="<?//= $block->escapeHtml($sumPercent) ?>%">
                                        <meta itemprop="worstRating" content="1"/>
                                        <meta itemprop="bestRating" content="100"/>
                                        <span style="width:<?//= $block->escapeHtml($sumPercent) ?>%">
                                <span itemprop="ratingValue"><?//= $block->escapeHtml($sumPercent) ?>%</span>
                                </span>
                                    </div>
                                </div> -->
                        <?php endif; ?>
                    </div>
                        <div class="right_column">
                            <div class="review-title"
                                 itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                            <div class="review-content" itemprop="description">
                                <?= nl2br($block->escapeHtml($_review->getDetail())) ?>
                            </div>
                        </div>
                        <div class="posted_info">
                            <span class="posted_by"><?= $block->escapeHtml($helperReview->resizeName($_review->getNickname())) ?>
                            </span><span
                                    class="posted_on"><?= $block->escapeHtml(__(' posted on %1', $block->formatDate($_review->getCreatedAt(), $format))) ?></span>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <div class="toolbar review-toolbar">
                <?= $block->getChildHtml('toolbar') ?>
            </div>
        </div>
    </div>
<?php endif; ?>
