@CHARSET "UTF-8";

select.tax_display_select { background-color: #f0f0f0;  border-radius: 3px; padding:0px 20px 0px 5px; height:24px; cursor:pointer; }
select.tax_display_select option { cursor:pointer }

.price-including-tax::before 
{
    content: attr(data-label) ': ';
    font-size: 1.1rem;
}
.price-including-tax.price-after-tax::before {
    display: none;
}
.price-including-tax.price-after-tax::after {
    content: attr(data-label) '';
    margin-left: 5px;
}
.price-excluding-tax::after
{
    content: attr(data-label) '';
    font-size: 1.1rem;
}

button.closetaxmodal {
    margin-top:10px;
    margin-right:10px;
}