<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <!--<p class="checkout-agreements-text" data-bind="i18n: 'Please note in our order also our cancellation policy.'"></p>-->
        <!-- ko foreach: agreements -->
        <!-- ko if: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement">
            <input type="checkbox"
                   data-bind="attr: {
                                    'id': 'agreement_' + agreementId,
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"
                   data-validate="{required:true}" />
            <label data-bind="attr: {'for': 'agreement_' + agreementId}">
                <button type="button"
                        class="action action-show"
                        data-bind="click: function(data, event) { return $parent.showContent(data, event) }"
                >
                    <span data-bind="html: checkboxText"></span>
                </button>
            </label>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement">
            <button type="button" class="action action-show"
                    data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                <span data-bind="html: checkboxText"></span>
            </button>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <p id="id_checkout-agreements" generated="true" class="mage-error id_checkout-agreements" data-bind="i18n: 'Check all agreements!'"></p>
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>
