<?php $randPrix =  rand() . time() ?>
<?php /** @var \Meridian\Base\Block\PrixForm $block */ ?>
<?php $currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>
<div class="prix-form-container">
    <form id="prix_form_validate_<?php echo $randPrix ?>" class="prix-form" method="post" action="<?php echo $block->getFormAction() ?>">
        <div class="flex-fieldset">
            <div class="fieldset">
                <input type="hidden" value="<?php echo $currentUrl ?>" name="success_url" />
                <input type="hidden" value="<?php echo $currentUrl ?>" name="error_url" />
                <div class="head2"><strong class="legend-head"><?php echo __('Informations personnelles') ?></strong></div>
                <ul class="form-list">
                    <li>
                        <div class="input-box">
                            <label class="required width117" for="prixemail_<?php echo $randPrix ?>"><?php echo __('Adresse mail') ?><em>*</em></label>
                            <input type="text" class="input-text validate-email required-entry" title="<?php echo __('Adresse mail') ?>" value="" id="prixemail_<?php echo $randPrix ?>" name="email" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label class="required width117" for="prixfirstname_<?php echo $randPrix ?>"><?php echo __('Prénom') ?><em>*</em></label>
                            <input type="text" class="input-text required-entry" title="<?php echo __('Prénom') ?>" value="" name="firstname" id="prixfirstname_<?php echo $randPrix ?>" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label class="required width160" for="prixlastname_<?php echo $randPrix ?>"><?php echo __('Nom') ?><em>*</em></label>
                            <input type="text" class="input-text required-entry" title="<?php echo __('Nom') ?>" value="" name="lastname" id="prixlastname_<?php echo $randPrix ?>" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fieldset" style="margin-left:20px;">
                <div class="head2"><strong class="legend-head"><?php echo __('Informations produit') ?></strong></div>
                <ul class="form-list">
                    <li>
                        <div class="input-box">
                            <label class="required width117" for="productname_<?php echo $randPrix ?>"><?php echo __('Référence') ?> <em>*</em></label>
                            <input type="text" class="input-text required-entry" title="<?php echo __('Nom du produit') ?>" value="" id="productname_<?php echo $randPrix ?>" name="productname" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label class="required width117" for="prixproduct"><?php echo __('Prix TTC&nbsp; constaté') ?> <em>*</em></label>
                            <input type="text" class="input-text required-entry" title="<?php echo __('Prix de la concurrence') ?>" value="" name="prixproduct" id="prixproduct_<?php echo $randPrix ?>" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label class="required width160" for="addressurl"><?php echo __('Adresse URL') ?><em>*</em></label>
                            <input type="text" class="input-text required-entry" title="<?php echo __('Adresse URL') ?>" value="" name="addressurl" id="addressurl_<?php echo $randPrix ?>">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="buttons-set">
            <button class="button" title="<?php echo __('Valider') ?>" type="submit"><span><span><?php echo __('Valider') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
        require([
            'jquery',
            'jquery/ui',
            'jquery/validate',
            'mage/translate',
            'mage/mage',
            'mage/backend/form'
        ], function ($,ui,validate,$t) {
            var dataForm = $('#prix_form_validate_<?php echo $randPrix ?>');
            //debugger;
            dataForm.mage('validation',{});
        });
    </script>
</div>