<!--/**
 * Template for items quotes in view 
 * quotes display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */-->

<div class="block block-dashboard-info">
    <?php $_order = $block->getQuote();?>
    <?php $_formatPrice = $block->formatPrice(); ?>

    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Items Quoted') ?></strong>

        <table class="data table table-order-items" id="my-orders-table" summary="<?php /* @escapeNotVerified */ echo __('Items Quoted') ?>">
            <thead>
                <tr>
                    <th class="col name"><?php /* @escapeNotVerified */ echo __('Product Name') ?></th>
                    <th class="col sku"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
                    <th class="col price"><?php /* @escapeNotVerified */ echo __('Price') ?></th>
                    <th class="col qty"><?php /* @escapeNotVerified */ echo __('Qty') ?></th>
                    <th class="col subtotal"><?php /* @escapeNotVerified */ echo __('Rowtotal') ?></th>
                </tr>
            </thead>
            <?php $_items = $_order->getItemsCollection() ?>
            <?php $_index = 0; ?>
            <?php $_count = $_items->count(); ?>
            <?php //$_giftMessage = ''?>
            <?php foreach ($_items as $_item): ?>
                <?php
                if ($_item->getParentItem()) {
                    continue;
                }
                ?>
                <tbody>
                    <tr>
                        <td> <?php echo $_item->getName(); ?> </td>
                        <td> <?php echo $_item->getSku(); ?> </td>
                        <td> <?php echo $_formatPrice->currency($_item->getPrice(), true, false); ?> </td>
                        <td> <?php echo $_item->getQty(); ?> </td>
                        <td> <?php echo $_formatPrice->currency($_item['row_total'], true, false); ?> </td>
                    </tr>
                </tbody>
        <?php endforeach; ?>
        </table>        
    </div>
</div>