<!--@subject Supplier Return #{{var supplierreturn.bsr_id}} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Hello {{var supplier.sup_name}}</p>

<p>Please find enclosed the supplier return #{{var supplierreturn.bsr_id}} document.</p>

<p>You can download the <a href="{{var pdf_url}}"> supplier return PDF</a></p>


<p>&nbsp;</p>
<p>Best regards</p>

<p alig="right">{{var company_name}}</p>