<!--/**
 * Template for quotes display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */-->

<!-- Displaying the seller comment for the quote -->
<?php
$_quotes = $block->getQuoteDetails();
$customerSession = $block->getCustomerSession();
$quoteId = $this->getRequest()->getParam('quote_id');
$comments = $this->quoteComment->getSellerComment($quoteId);
?>

<div>

<div class="buttons_bottom">
    <!--Adding the buttons.-->
    <button type="button" title="<?=__("Ajouter au panier"); ?>" class="action primary add" onclick="window.location = '<?php echo $this->getUrl('quote2sales/index/addProduct', ['quote_id' => $quoteId]) ?>';"><span><span><?=__("Ajouter au panier"); ?></span></span></button>
</div>
</div>

