<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td class="footer">
                        <p style="margin-top: 10px;">{{trans "Nous vous remercions de votre confiance et restons à votre disposition pour tout complément d’information."}}</p>
                        <p class="closing">{{trans "Merci,"}} <br> {{var store.getFrontendName() |raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="footer-info">
                        <div style="display: inline-block; width: 28%; margin-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{view url='images/footer/block2.png'}}"
                                    alt="Free Shipping"
                            />
                            <div class="footer-info-text">
                                <p style="margin-bottom: 0px;" class="footer-info-text-header">{{trans "Livraison gratuite"}}</p>
                                <p>{{trans "Livraison offerte en France métropolitaine à partir de 120€ HT"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{view url='images/footer/icon-11.png'}}"
                                    alt="payment cards"
                            />
                            <div class="footer-info-text">
                                <p style="margin-bottom: 0px;" class="footer-info-text-header">{{trans "Paiement sécurisé"}}</p>
                                <p>{{trans "Achetez en toute confiance grâce au paiement sécurisé Paybox"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{view url='images/footer/icon-10.png'}}"
                                    alt="contacts"
                            />
                            <div class="footer-info-text">
                                <p style="margin-bottom: 0px;" class="footer-info-text-header">{{trans "Contact"}}</p>
                                <p style="margin-bottom: 0px;">{{depend store_phone}} {{trans 'Tel: <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}</p>
                                <p>{{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
