<?php

$objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $pageIdentifier = $objectManagerCms->get('\Magento\Cms\Model\Page');
if
 ($pageIdentifier == 'cms_index_index') {
  ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'home'
      };
   </script>
<?php
}
 elseif ($pageIdentifier == 'catalog_category_view'){

$category
 = Mage::registry('current_category')->getName(); 
  ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'category',
ecomm_category:
 '<?=$category?>'
      };
   </script>
<?php
}
 elseif ($pageIdentifier == 'catalog_product_view') {
      $_product
 = Mage::registry('current_product');
   ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'product',
          ecomm_prodid:
 '<?php echo $_product->getSku(); ?>',
          ecomm_totalvalue:
 <?php echo $_product->getfinalprice(); ?>
      };
   </script>
<?php
}
 elseif ($pageIdentifier == 'checkout_cart_index'){
    
     $items
 = Mage::getSingleton('checkout/session')->getQuote()->getAllVisibleItems();
     $totalvalue
 = Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal();

  ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'cart',
          ecomm_prodid:
 [<?php foreach ($items as $item) {?>'<?php echo $item->getSku();?>',<?php } ?>],
          ecomm_totalvalue:
  <?php echo $totalvalue; ?>
      };
   </script>
<?php
}
 elseif ($pageIdentifier == 'checkout_onepage_index') {

     $items
 = Mage::getSingleton('checkout/session')->getQuote()->getAllVisibleItems();
     $totalvalue
 = Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal();

   ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'cart',
          ecomm_prodid:
 [<?php foreach ($items as $item) {?>'<?php echo $item->getSku();?>',<?php } ?>],
          ecomm_totalvalue:
  <?php echo $totalvalue; ?>
      };
   </script>
<?php
}elseif
 ($pageIdentifier == 'checkout_onepage_success') {

$order
 = Mage::getModel("sales/order")->loadByIncrementId($this->getOrderId());
$items
 = $order->getAllVisibleItems();

   ?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'Purchase',
          ecomm_prodid:
 [<?php foreach ($items as $item) {?>"<?php echo $item->getSku();?>",<?php }?>],
          ecomm_totalvalue:
 <?php echo $order->getGrandTotal(); ?>
      };
   </script>
<?php
}
elseif
 ($pageIdentifier == 'catalogsearch_result_index') {

?>
   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'searchresults'
      };
   </script>
<?php
}else
 {

?>

   <script
 type="text/javascript">
      var
 google_tag_params = {
          ecomm_pagetype:
 'other'
      };
   </script>
<?php
}
?>

<?php
$data = $this->helper("Lof\All\Helper\Data");
$customCss = $data->getConfig('custom_css');
$customCss = strip_tags($customCss);
$customCss = trim($customCss);
?>

<?php if ($customCss) { ?>
<!-- MEGAMENU CUSTOM CSS -->
<style type="text/css">
	<?php echo $customCss; ?>
</style>
<!-- MEGAMENU CUSTOM CSS -->
<?php } ?>

