<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
if($_product->getId()=="29500"){

}elseif($_product->getId()=="29501"){

}elseif($_product->getId()=="29502"){

}
else{
?>
<?php
$priceExcludeTax = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(); //special_price ,final_price
/** @var \Meridian\Base\Helper\Data $helperCustom */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$categoryData = $helperBase->getBrandData($_product);
$InstalmentRangeStatus = $helperBase->checkInstalmentRange($priceExcludeTax);
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
$deliveryInfoMessage = $_product->getData('product_delivery_info_message');
$qty = $_product->getExtensionAttributes()->getStockItem()->getQty();
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('\Meridian\Base\Helper\Data');
$deliveryTime = $helperBase->getProductDeliveryTime($_product);
$currentPirceDisplay = $helperBase->currentPriceDisplayType($block->getProduct());
if ($qty > 0) {
    $circleColor = 'green';
} elseif ($qty <= 0) {
    $circleColor = 'yellow';
} else {
    $circleColor = 'red';
}

if (!empty($categoryData['product_delivery_info_message'])) {
    $deliveryInfoMessage = $categoryData['product_delivery_info_message'];
}
$classTypeID = " short-details-".$_product->getTypeId();
$classTTC = ($currentPirceDisplay == 'INC_TAX') ? ' short-details-ttc' : '';
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<div class="short-details<?php echo sprintf('%s%s',$classTypeID, $classTTC) ?>">
    <?php
    if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_product)) {
        ?>
        <div class="dicount-percent">
            <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_product); ?>
        </div>
        <?php
    }
    ?>
    <div class="holder">
        <div class="short-left">
            <?php
            $enableGarantie = $helperBase->getStoreConfig('comptoir_config/product_page/use_guarantee');
            $textGarantie = $helperBase->getStoreConfig('comptoir_config/product_page/guarantee');
            $attrGarantie = $enableGarantie ? ' data-toggle="modal" data-target="#tabGarantie"' : '';
            ?>
            <?php if ($enableGarantie): ?>
                <div class="icon-holder">
                    <img src='<?php echo $this->getViewFileUrl('images/le-moins-cher-garantie.png'); ?>'
                         alt="le moins cher garantie" <?php echo $attrGarantie ?>/>
                </div>
                <div id="tabGarantie" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <?php echo $textGarantie; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <div class="short-price">
                <?php if ($_product->getTypeId() === 'configurable'): ?>

                    <?php
                    $priceIncTax = false;
                    $priceExclTax = false;
                    $priceAmount = $helperBase->getMinPriceConfigurable($_product);
                    $priceIncl = $helperBase->getPriceInclTax($_product, $priceAmount);
                    $priceIncTax = $helperBase->currencyFormate($priceIncl);
                    $typeTax = '';
                    switch ($currentPirceDisplay) {
                        case 'INC_TAX':
                            $typeTax = __('Incl. Tax');
                            break;
                        case 'EXC_TAX':
                            $typeTax = __('Excl. Tax');
                            break;
                    }
                    ?>
                    <span class="pre-price-conf"><?php echo __('à partir de ') ?></span>
                    <div class="price-box price-final_price" data-role="priceBox"
                         data-product-id="<?php echo $_product->getId() ?>">
                        <span class="special-price">
                            <span class="price-container price-final_price tax weee<?php echo ($currentPirceDisplay == 'INC_TAX')? ' price-incl-tax':'' ?>">
                                <?php if($currentPirceDisplay == 'EXC_TAX'): ?>
                                <span class="price-label">Special Price</span>
                                <span data-price-type="finalPrice" class="price-wrapper ">
                                    <span class="price"><?= $helperBase->currencyFormate($priceAmount) ?></span>
                                </span>
                                <span class="tax-type"><?= __('Excl. Tax') ?></span>
                                <?php if ($priceIncTax): ?>
                                    <span class="price-including-tax price-after-tax" data-label="<?= __('Incl. Tax') ?>">
                                        <span class="price"><?=$priceIncTax?></span>
                                    </span>
                                <?php endif; ?>
                                <?php else: ?>
                                    <span data-price-type="finalPrice" class="price-wrapper ">
                                        <span class="price"><?= $priceIncTax ?></span>
                                    </span>
                                    <span class="tax-type"><?= __('Incl. Tax') ?></span>
                                <?php endif; ?>
                            </span>
                        </span>
                    </div>
                <?php else: ?>
                    <?php echo $block->getProductPrice($_product); ?>
                <?php endif; ?>
                <?php if (false): ?>
                    <span class="sub-price">
                <?php if (!empty($InstalmentRangeStatus)) {
                    $text_tax = '<span class="tax-type">';
                    if ($currentPirceDisplay == 'INC_TAX') {
                        $text_tax .= '<span class="inc-tax">' . __('Incl. Tax') . '</span>';
                    } elseif ($currentPirceDisplay == 'EXC_TAX') {
                        $text_tax .= '<span class="exc-tax">' . __('Excl. Tax') . '</span>';
                    }
                    $text_tax .= ' </span>';
                    $instalmentPayment = $helperBase->currencyFormate($priceExcludeTax / 3);
                    echo "3X <b> $instalmentPayment </b> $text_tax " . __('sans frais');
                } ?>
                </span>
                <?php endif; ?>
            </div>
            <?php if ($_product->getTypeId() === 'configurable'):
                $count = $helperBase->getCountCompareProducts($_product);
                ?>
                <?php if ($count > 1): ?>
                <span class="ref-count">(<?php echo __('%1 références pour ce produit', $count) ?>)</span>
            <?php else: ?>
                <span class="ref-count">(<?php echo __('%1 référence pour ce produit', $count) ?>)</span>
            <?php endif; ?>
            <?php endif; ?>
        </div>
        <!-- short-left -->
        <div class="short-right">

            <?php
            echo $block->getChildHtml('product.available.status', true);
            $block->unsetChild('product.available.status');
            ?>
            <span class="green-text ">
                <?php
                if (!empty($deliveryTime)) {
                    echo $deliveryTime;
                }
                ?>
                <?php
                if (!empty($deliveryInfoMessage)) {

                    // echo '<span class="product-question"><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="' . $deliveryInfoMessage . '"></i></span>';
                }
                ?>

			</span>

            <?php //$priceExcludeTax = $_product->getPrice('final_price')->getAmount()->getValue(); ?>
            <?php
            $enableDelivery = $helperBase->getStoreConfig('comptoir_config/delivery/use_delivery');
            $costDelivery = 80;
            if ($enableDelivery) {
                $costDelivery = (int)$helperBase->getStoreConfig('comptoir_config/delivery/cost_delivery') ? $helperBase->getStoreConfig('comptoir_config/delivery/cost_delivery') : 80;
            }
            $contentPopupDelivery = $helperBase->getStoreConfig('comptoir_config/delivery_message/popup_delivery_message');
            if ($priceExcludeTax >= $costDelivery):
                ?>
                <div class="free-delivery">
                    <span class="delivery-title"><?php echo __('Livraison offerte'); ?></span>
                    <?php if ($enableDelivery): ?>
                        <div class="field-tooltip toggle">
                    <span class="field-tooltip-action action-help"
                          tabindex="0"
                          data-toggle="dropdown"
                          data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"></span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown" translate="tooltip.description">
                                <?php echo __($contentPopupDelivery) ?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            <?php
            $enableFinance = $helperBase->getStoreConfig('comptoir_config/product_page/use_finance');
            $enablePrices = $helperBase->getStoreConfig('comptoir_config/product_page/use_prices');
            $textFinance = $helperBase->getStoreConfig('comptoir_config/product_page/finance');
            $textPrices = $helperBase->getStoreConfig('comptoir_config/product_page/prices');
            $attrFinance = $enableFinance ? ' data-toggle="modal" data-target="#tabFinance"' : '';
            $attrPrices = $enablePrices ? ' data-toggle="modal" data-target="#tabPrices"' : '';
            ?>
            <?php if ($enableFinance || $enablePrices): ?>
                <ul class="fan-options">
                    <?php if ($enableFinance): ?>
                        <li>
                            <a href="javascript:void(0)"<?php echo $attrFinance ?>><?php echo __('Options de financement') ?></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($enablePrices): ?>
                        <li>
                            <a href="javascript:void(0)"<?php echo $attrPrices ?>><?php echo __('Prix dégressifs') ?></a>
                        </li>
                    <?php endif; ?>
                </ul>
            <?php endif; ?>
            <?php if ($enableFinance): ?>
                <div id="tabFinance" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <?php echo $textFinance; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php if ($enablePrices): ?>
                <div id="tabPrices" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <?php echo $textPrices; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <!-- short-right -->
    </div>
    <?php if ($_product->isSaleable() && $_product->getTypeId() !== \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE): ?>
        <div class="box-tocart">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field-qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */
                            echo __('Quantité') ?></span></label>
                    <div class="control custom-qty clearfix">
                        <input type="number" name="qty" id="qty" value="<?php /* @escapeNotVerified */
                        echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */
                        echo __('Quantité') ?>" class="input-text qty"
                               data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                        />
                        <div class="btn-plus">
                            <button type="button" class="increase items"
                                    onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="reduced items"
                                    onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field-actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */
                        echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */
                        echo $buttonTitle ?></span>
                </button>
            </div>
        </div>
        <?php echo $block->getChildHtml('', true) ?>
    <?php elseif ($_product->getTypeId() !== \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE): ?>
        <div class="box-tocart">
            <div class="field-qty">
                <label class="label" for="qty"><span><?php /* @escapeNotVerified */
                        echo __('Quantité') ?></span></label>
                <div class="control custom-qty clearfix">
                    <input type="number" name="qty" id="qty" value="<?php /* @escapeNotVerified */
                    echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */
                    echo __('Quantité') ?>" class="input-text qty"
                           data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                    />
                    <div class="btn-plus">
                        <button type="button" class="increase items"
                                onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="reduced items"
                                onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="field-actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */
                        echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */
                        echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    <?php endif; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "Magento_Catalog/product/view/validation": {
                    "radioCheckboxClosest": ".nested"
                }
            }
        }
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "catalogAddToCart": {
                    "bindSubmit": false
                }
            }
        }
        </script>
    <?php endif; ?>
</div>
<!-- short-details -->
<?php
}



$category=$_product->getCategoryIds();
if($category){


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category[0]);
$pathIds = explode('/', $cat->getPath());

if(in_array('122',$pathIds)){
    $cat1 = $objectManager->create('Magento\Catalog\Model\Category')->load($category[1]);
$pathIds1 = explode('/', $cat1->getPath());

    $collection1 = $cat1->getCollection()
    ->addAttributeToSelect('name')
    ->addAttributeToSelect('is_active')
    ->addFieldToFilter('entity_id', array('in' => $pathIds1));
    $pathByName = '';
            foreach($collection1 as $cat){                
                $pathByName .= ' >> ' . $cat->getName();
            }
            
             $path=str_replace(' >> Root Catalog >> Default Category >> ','',$pathByName);    

}else{
    $collection = $cat->getCollection()
    ->addAttributeToSelect('name')
    ->addAttributeToSelect('is_active')
    ->addFieldToFilter('entity_id', array('in' => $pathIds));
    $pathByName = '';
            foreach($collection as $cat){                
                $pathByName .= ' >> ' . $cat->getName();
            }
            
             $path=str_replace(' >> Root Catalog >> Default Category >> ','',$pathByName);     
}



   

?>


<script type="text/javascript">window.conversionWunderInit = function(init) {init({siteid: '481840',item: {name: "<?= $block->escapeHtml($_product->getName());?>",id: "<?=  $_product->getSku();?>"},category: {name: "<?=  $block->escapeHtml($cat->getName());?>",path: "<?=  $path;?>"}});};(function() {function loadcw() {var s = document.getElementsByTagName('script')[0],e = document.createElement('script');e.setAttribute('language', 'javascript');e.setAttribute('type', 'text/javascript');e.setAttribute('async', 'async');e.setAttribute('src', 'http'+(document.location.protocol=='https:'?'s':'')+'://lib.productsup.io/engine/load.js');s.parentNode.insertBefore(e, s);}var oldonload = window.onload;window.onload = (typeof window.onload != 'function')?loadcw:function(){oldonload();loadcw();};})();</script>

<?php
}
?>