<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php
        $layout = $block->getLayout();
        $detailedInfoGroupTmp = $detailedInfoGroup;
        $activeClass = array_shift($detailedInfoGroupTmp);
        foreach ($detailedInfoGroup as $name){
            $html = $layout->renderElement($name);
            if (trim($html) && $name == 'catalog.product.related.accessoires') {
                $activeClass = 'catalog.product.related.accessoires';
            }
        }
        if($helperBase->isConfigProduct()){
            $activeClass = "custom.tab.compare.models";
        }
        ?>
        <div class="product data items">
            <ul class="product-tabs">
                <?php $iterator = 0; ?>
                <?php foreach ($detailedInfoGroup as $name):?>
                    <?php
                        $html = $layout->renderElement($name);
                        if (!trim($html)) {
                            continue;
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        $tabRole = ($name === 'reviews.tab') ? ' data-role="tab"' : '';
                        $tabRoleAccessory = ($name === 'catalog.product.related.accessoires') ? ' data-role="accessory"' : '';
                        $iterator++;
                    ?>
                <li class="data item title<?php echo ($activeClass == $name) ? ' active' : '' ?>" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>"<?php echo $tabRole . $tabRoleAccessory ?>>
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= /* @escapeNotVerified */ $alias ?>"
                       id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                        <?= /* @escapeNotVerified */ $label ?>
                    </a>
                </li>
                <?php endforeach;?>
            </ul>
            <div class="product-tabs-container">
                <?php $counter = 0; ?>
                <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');

                    $counter++;
                ?>
                    <div class="data item content<?php echo ($activeClass == $name) ? ' active' : '' ?>" id="<?= /* @escapeNotVerified */ $alias ?>">
                        <?= /* @escapeNotVerified */ $html ?>
                    </div>
                <?php endforeach;?>
            </div>
        </div>
    </div>
<?php endif; ?>
