<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Brand');

$categoriesSessionvalue = $helperBrand->getCatalogSession()->getBrandsCategoryValue();
if($categoriesSessionvalue) {
$categories = $categoriesSessionvalue;
} else {
$categories =  $helperBrand->getBrandsCategory(122, ''); //MARQUES
$helperBrand->getCatalogSession()->setBrandsCategoryValue($categories);
}
$helper = $this->helper('Magento\Catalog\Helper\Output');
?>
</p>
<div class="marques-magamenu">
    <div class="row">
        <?php
        foreach ($categories as $category) {
            $cat = $helperBrand->getCategory($category);
            $catUrl = $cat->getUrl();
            $imgUrl = $cat->getImageUrl();
            if (!$imgUrl) {
				$mediaUrl = $helperBrand->getMediaUrl();
				//$mediaUrl = $block->getBaseUrl();
                $imgUrl = $mediaUrl . 'wysiwyg/site-images/brand-default.png'; //pub/media/
            }
            ?>
            <div class="logo-col">
                <div class="logo-holder">
                    <a href="<?php echo $cat->getUrl(); ?>" title="<?php $cat->getName(); ?>">
                        <img src="<?php echo $imgUrl ?>" alt="<?php echo $block->escapeHtml($cat->getName()); ?>"
                             title="<?php echo $block->escapeHtml($cat->getName()); ?>" width = "165px" height = "70px" class="image" />
                    </a>
                </div>
            </div>
          <?php  } ?>
    </div>
</div>
<p class="hidden">
