<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Cookie\Block\Html\Notices $block */
?>
<?php if ($this->helper(\Magento\Cookie\Helper\Cookie::class)->isCookieRestrictionModeEnabled()): ?>
    <!-- <div role="alertdialog"
         tabindex="-1"
         class="message global cookie"
         id="notice-cookie-block"
         style="display: none;">
        <div role="document" class="content" tabindex="0">
            <p>
                <span class="desktop"><?= /* @noEscape */ __('By continuing your navigation on this site, you accept the use of cookies to improve your user experience') ?></span>
                <span class="tablet"><?= /* @noEscape */ __('En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies nous permettant de recueillir des données statistiques afin d’améliorer votre expérience utilisateur.') ?></span>
                <span class="mobile"><?= /* @noEscape */ __('Nous utilisons des cookies nous permettant de recueillir des données statistiques afin d’améliorer votre expérience utilisateur.') ?></span>
            </p>
            <div class="actions">
                <button id="btn-cookie-allow" class="action allow primary">
                    <span><?= $block->escapeHtml(__('ok')) ?></span>
                </button>
            </div>
            <span class='learn_more'  onclick="setLocation(''+ location.origin + '/conditions-generales-utilisation')"><?= $block->escapeHtml(__("En savoir plus")) ?></span>
        </div>
    </div> -->
   <!-- <script type="text/x-magento-init">{"#notice-cookie-block":{"cookieNotices":{"cookieAllowButtonSelector": "#btn-cookie-allow", "cookieName": "<?=/* @noEscape */ \Magento\Cookie\Helper\Cookie::IS_USER_ALLOWED_SAVE_COOKIE ?>", "cookieValue": <?=/* @noEscape */ $this->helper(\Magento\Cookie\Helper\Cookie::class)->getAcceptedSaveCookiesWebsiteIds() ?>, "cookieLifetime": <?=/* @noEscape */ $this->helper(\Magento\Cookie\Helper\Cookie::class)->getCookieRestrictionLifetime() ?>, "noCookiesUrl": "<?=$block->escapeJs($block->escapeUrl($block->getUrl('cookie/index/noCookies'))) ?>"}}}</script> -->
<?php endif; ?>
