<?php /** @var \ADM\QuickDevBar\Block\Toolbar $block */ ?>
<?php if($block->isUserAllowed()):?>

<!-- ------------------------------ -->
<!-- Start HTML for ADM_QuickDevBar -->
<!--
           ____        _      _    _____             ____
          / __ \      (_)    | |  |  __ \           |  _ \
         | |  | |_   _ _  ___| | _| |  | | _____   _| |_) | __ _ _ __
         | |  | | | | | |/ __| |/ / |  | |/ _ \ \ / /  _ < / _` | '__|
         | |__| | |_| | | (__|   <| |__| |  __/\ V /| |_) | (_| | |
          \___\_\\__,_|_|\___|_|\_\_____/ \___| \_/ |____/ \__,_|_|


 -->

<div>
<div id="qdb-bar" style="display: none;" data-mage-init='{"quickDevBar":{"css":"<?php echo $block->getViewFileUrl('ADM_QuickDevBar::css/quickdevbar.css'); ?>",
                                                                         "toggleEffect":"drop",
                                                                         "appearance":"<?php echo $block->getAppearance() ?>"}}'>
<?php echo $block->getChildHtml(); ?>
</div>
<div id="qdb-bar-anchor">
<img src="<?php echo $block->getViewFileUrl('ADM_QuickDevBar::images/qdb-icon.png') ?>" alt="<?php echo __('QuickDevBar'); ?>" title="<?php echo __('Click to toggle the Quick Development Toolbar'); ?>"/>&nbsp;
</div>
</div>
<!-- End HTML for ADM_QuickDevBar -->
<!-- ------------------------------ -->
<?php endif;?>
 
