<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="totals earn-points" width="100%">
    <td class="amount" data-bind="attr: {'data-th': title}">
        <p class="title" data-bind="text: title"></p>
        <span class="title" data-bind="text: beforepoints"></span>
        <span class="price" data-bind="text: getValue()"></span>
        <span class="title" data-bind="text: afterpoints"></span>
    </td>
</tr>

