<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php
        $layout = $block->getLayout();
        $detailedInfoGroupTmp = $detailedInfoGroup;
        $activeClass = array_shift($detailedInfoGroupTmp);
        foreach ($detailedInfoGroup as $name){
            $html = $layout->renderElement($name);
            if (trim($html) && $name == 'catalog.product.related.accessoires') {
                $activeClass = 'catalog.product.related.accessoires';
            }
        }
        if($helperBase->isConfigProduct()){
            $activeClass = "custom.tab.compare.models";
        }
        ?>
        <div class="product data items">
            <ul class="product-tabs">
                <?php $iterator = 0; ?>
                <?php foreach ($detailedInfoGroup as $name):?>
                    <?php
                        $html = $layout->renderElement($name);
                        if (!trim($html)) {
                            continue;
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        $tabRole = ($name === 'reviews.tab') ? ' data-role="tab"' : '';
                        $tabRoleAccessory = ($name === 'catalog.product.related.accessoires') ? ' data-role="accessory"' : '';
                        $iterator++;
                    ?>
                <li class="data item title<?php echo ($activeClass == $name) ? ' active' : '' ?>" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>"<?php echo $tabRole . $tabRoleAccessory ?>>
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= /* @escapeNotVerified */ $alias ?>"
                       id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                        <?= /* @escapeNotVerified */ $label ?>
                    </a>
                </li>
                <?php endforeach;?>
            </ul>
           
            <div class="product-tabs-container">
            
            
                <?php $counter = 0; ?>
                <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    
                    $label = $block->getChildData($alias, 'title');

                    $counter++;
                ?>
                    <div class="data item content<?php echo ($activeClass == $name) ? ' active' : '' ?>" id="<?= /* @escapeNotVerified */ $alias ?>">
                    <?php
                        $h2_tag = $helperBase->getProductNameSku();
                        $h2_tag_brand = $helperBase->getBrandName();
                        if($alias =="product_info_description")
                        {
                            echo '<h2 class="tab-product">Détails produit pour '.$h2_tag.'</h2>';
                            
                        }
                        else if($alias =="related_accessoires")
                        {
                            
                           echo '<h2 class="tab-product">Accessoires pour '.$h2_tag.'</h2>';
                           
                        }
                        else if($alias =="garantie_et_sav")
                        {                            
                            echo '<h3 class="tab-product">Garantie et SAV pour '.$h2_tag_brand.'</h3>';                            
                        }
                        else if($alias =="reviews")
                        {
                            echo '<h3 class="tab-product">Avis clients pour '.$h2_tag.'</h3>';
                        }
                        else if($alias == "avis_comptoir")
                        {
                            echo '<h3 class="tab-product">Avis Comptoir des Pros</h3>';
                        }
                    
                    ?>
                        <?= /* @escapeNotVerified */ $html ?>
                    </div>
                <?php endforeach;?>
            </div>
        </div>
    </div>
<?php endif; ?>