<?php
$rewardsData       = $this->helper('Lof\RewardPoints\Helper\Data');
$rewardsCustomer   = $block->getCustomer();
$totalPoints       = $rewardsCustomer->getTotalPoints();
$transactionExpire = $rewardsCustomer->getTransactionExpire();
$expirePointsInfo  = $rewardsCustomer->getExpirePointsInfo();
$earningRules      = $block->getEarningRule();
$spendingRules     = $block->getSpendingRule();

?>
<div class="block lrw-block lrw-account-summary">
	<div class="block-content">
        <table class="summary-points">
            <tr class="for-mob">
                <td class="for-mob"><?=__("Total:")?></td>
                <td class="for-mob"> <?=$totalPoints.__(" points")?></td>
            </tr>
        </table>
	</div>
</div>