<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Company $block */
$type = $block->getData('type') ? $block->getData('type') : rand() . time();
$value = $block->escapeHtmlAttr($block->getCompany());
if($value == '-'){
    $value = '';
}

?>
<div class="field company required">
    <label for="company" class="label">
        <span>
            <?= $block->escapeHtml(__('Company')) ?>
        </span>
    </label>
    <div class="control">
        <?php
            $_validationClass = $block->escapeHtmlAttr(
                $this->helper('Magento\Customer\Helper\Address')
                     ->getAttributeValidationClass('company')
            );
        ?>
        <input type="text"
               name="company"
               id="company<?= $type ?>"
               value="<?= $value ?>"
               title="<?= $block->escapeHtmlAttr(__('Company')) ?>"
               class="input-text required-entry <?= $_validationClass ?: '' ?>"
               data-validate="{required:true}"
         >
    </div>
</div>
