<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php

/* Custom Code */
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Custom');
$_categories = $helperBrand->departmentCategories();
/* Custom Code */
?>

<?php
/**/
if (!empty($_categories)) { ?>

    <div class="container">
        <div class="depertment-brand row">
            <div class="height-limits custom-postcontain">
            <?php
            $i = 0;
            $cd = 1;
            
            foreach ($_categories as $_category) { ?>
            
                <?php if ($_category->getIsActive()): ?>

                    <?php
                    if ($_category->getImageUrl()) {
                        $image = $_category->getImageUrl();
                    } else {
                        $image = $block->getBaseUrl() . "pub/media/catalog/category/" . "brand-default.png";
                    }
                    ?>
                    <?php if($cd == 1): ?>
                    <div class="mobile-postcontainer">
                    <?php endif;?>
                    <div class="box-holder">
                        <div class="brand-box">
                            <a href="<?php echo $_category->getUrl() ?>"><img
                                        src="<?php echo $image;?>"
                                        alt="<?php echo $block->escapeHtml($_category->getName()) ?>"
                                        title="<?php echo $block->escapeHtml($_category->getName()) ?>"/></a>
                        </div>
                        <a class="brand-link"
                           href="<?php echo $_category->getUrl() ?>"><?php echo $block->escapeHtml($_category->getName()) ?></a>
                    </div>
                <?php if($cd == 4): ?>
                </div>
                <?php endif;?>    
                <?php endif; ?>
                <?php
              $cd++;
            } ?>
            <!-- <div class="custompostview">
                <a href="javascript:void(0);" class="cbt">Toutes les catégories</a>
            </div> -->
            </div>

            <!-- <div class="pro-limit-btn">
                <a href="javascript:void(0);">Toutes les catégories</a>
            </div> -->
        </div>
    </div>

<?php } ?>
