<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Votre commande #%increment_id" increment_id=$order.increment_id}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var comment":"Order Comment",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1 style="font-weight: 600;margin-bottom: 0;" class="email-summary-header">{{trans 'NOTIFICATION POUR VOTRE COMMANDE <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p style="margin-bottom: 30px;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
            <p style="margin-bottom: 30px;" class="greeting-customer">{{trans 'Bonjour,'}} {{var rma_customer_name}}</p>
            <p>
                {{trans
                    "Nous vous informons qu’un commentaire a été émis au sujet de votre commande #%increment_id." increment_id=$order.increment_id |raw}}
            </p>
            <p style="margin-bottom: 30px;">{{trans "Veuillez en tenir compte pour la suite de votre commande."}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info" style="width: 50%;margin: auto;margin-top: 100px;margin-bottom: 100px;">
                <tr>
                    <td style="border: 2px solid blue;">
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
