<?php
/**
 * Created on 11th Apr 2017.
 * Request template
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
$_requests = $block->getRequest();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_customer = $block->getCustomerSession()->load($_requests[0]['customer_id']);
$customerGroupId = $_customer->getGroupId();
?>
<div class="page-main-actions">    
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="View Requests">
            <div class="page-actions-buttons">
                <button type="button" title="<?php echo "Back"; ?>" class="action-default scalable back" onclick="window.location = '<?php echo $this->getUrl('quote2sales/request/index') ?>';">
                    <span>Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title">Request &amp; Account Information</span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title">Request #<?php echo $_requests[0]['request_id'] ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tbody>
                        <tr>
                            <th><label><br><?php echo __('Request Date') ?></label></th>
                            <td><?php echo $_requests[0]['created_at'] ?></td>
                        </tr>
                        <tr>
                            <th><label><br><?php echo __('Request From') ?></label></th>
                            <td><?php echo $_requests[0]['name'] ?></td>
                        </tr>
                        <tr>
                            <th><label><br><?php echo __('Preferred Email') ?></label></th>
                            <td><?php echo $_requests[0]['email'] ?></td>
                        </tr>
                        <tr>
                            <th><label><br><?php echo __('Preferred Telephone') ?></label></th>
                            <td><?php echo $_requests[0]['phone'] ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Account Information') ?></span>
                <div class="actions"></div>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tbody>
                        <tr>
                            <th><label><?php echo __('Customer Name') ?></label></th>
                            <td><?php echo $_requests[0]['name'] ?></td>
                        </tr>
                        <tr>
                            <th><label><br><?php echo __('Customer Email') ?></label></th>
                            <td><?php echo $_requests[0]['email'] ?></td>
                        </tr>
                       <?php if ($customerGroupId) : ?>
                        <tr>
                            <th><br><?php echo __('Customer Group') ?></th>
                            <td><h4> <?php echo $block->groupRepository()->getById($customerGroupId)->getCode(); ?></h4></td>
                        </tr>
                       <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="admin__page-section order-view-billing-shipping">
    <div class="admin__page-section-title">
        <span class="title"><?php echo __('Request details') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item-content">
            <div class="order-payment-method-title"><?php echo $_requests[0]['comment'] ?></div>
        </div>
    </div>
</section>
