<?php
/**
 * Added on 10th Oct 2017.
 * Bobcares Quote2Sales items template.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
?>
<?php
/**
 * @var \Magento\Sales\Block\Adminhtml\Order\View\Items $block
 */
$_order = $block->getQuote()
?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary edit-order-table">
        <thead>
            <tr class="headings">
                <?php
                $i = 0;
                $columns = $block->getColumns();
                $lastItemNumber = count($columns)
                ?>
                <?php foreach ($columns as $columnName => $columnTitle): ?>
                    <?php $i++; ?>
                    <th class="col-<?php /* @noEscape */ echo $columnName ?><?php /* @noEscape */ echo ($i === $lastItemNumber ? ' last' : '') ?>"><span><?php /* @noEscape */ echo $columnTitle ?></span></th>
                        <?php endforeach; ?>
            </tr>
        </thead>
        <?php $_items = $block->getItemsCollection(); ?>
        <?php
        $i = 0;
        foreach ($_items as $_item):
            ?>
            <?php
            if ($_item->getParentItem()) {
                continue;
            } else {
                $i++;
            }
            ?>
            <tbody class="<?php /* @noEscape */ echo $i % 2 ? 'even' : 'odd' ?>">
                <?php echo $block->getItemHtml($_item) ?>
            <?php echo $block->getItemExtraInfoHtml($_item) ?>
            </tbody>
<?php endforeach; ?>
    </table>
</div>
