<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history dashboard-as-table">
        <div class="block-title order">
            <strong class="box-title"><span><?= /* @escapeNotVerified */ __('HISTORIQUE DES COMMANDES') ?></span></strong>
        </div>
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Orders') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('N° commande') ?></th>
                <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                <?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?>
                <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Adresse de livraison') ?></th>
                <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Total') ?></th>
                <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                <th scope="col" class="col actions"></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_orders as $_order): ?>




            <?php 
            ?>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id">
                    
                    <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                        <?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                            
                        </a>
                    <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                    <?php $extra = $block->getChildBlock('extra.container'); ?>
                    <?php if ($extra): ?>
                        <?php $extra->setOrder($_order); ?>
                        <?= /* @noEscape */ $extra->getChildHtml() ?>
                    <?php endif; ?>
                    <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?=$_order->getShippingAddress()->getName()."<br>".$_order->getShippingAddress()->getStreet()[0]." - ". $_order->getShippingAddress()->getPostcode(). " " .$_order->getShippingAddress()->getCity()?></td>
                    <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
<?php
$status=$_order->getStatus();
if($status!="pending"){
$link=$block->getUrl().'sales/order/pdfcustomer/order_id/'.$_order->getId();
}else{
    $link="#";

}

?>

                        <a target="_new" href="<?= /* @escapeNotVerified */ $link ?>" class="action view">
                            <span><?= /* @escapeNotVerified */ __('Voir ma facture') ?></span>
                        </a>
                        <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                            <br><a href="#" data-post='<?php /* @escapeNotVerified */ echo
                            $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                ->getPostData($block->getReorderUrl($_order))
                            ?>' class="action order">
                                <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                            </a>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <!-- <div class="for-old-buyers">
            <?php  //__("Bienvenue sur votre nouveau tableau de bord.");?><br>
            <?php //_("Si vous souhaitez accéder à vos dernières commandes, retrouvez-les en cliquant juste ")?> <strong><a href="https://v1.comptoirdespros.com/customer/account/login/">ici</a></strong>
        </div> -->
    </div>
<div class="wrap-mob-table">
    <?php foreach ($_orders as $_order):?>
        <div class="mob-table index-recent-table">
            <div class="number-order-col">
                <div class="label-info"><?= __('N°de commande') ?></div>
                <div class="value-info"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></div>
            </div>
            <div class="inforow">
                <div class="date-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Date') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></div>
                </div>
                <div class="total-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Total') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></div>
                </div>
                <div class="status-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Statut') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></div>
                </div>
            </div>
            <div class="link-palace">
                <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>">❯</a>
            </div>
        </div>
    <?php endforeach; ?>
    <!-- <div class="for-old-buyers">
        <?php //__("Bienvenue sur votre nouveau tableau de bord.");?><br>
        <?php // __("Si vous souhaitez accéder à vos dernières commandes, retrouvez-les en cliquant juste ")?> <strong><a href="https://v1.comptoirdespros.com/customer/account/login/">ici</a></strong>
    </div> -->
</div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>

