<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$limit_tho_show = 2;
?>
<div class="block block-dashboard-orders dashboard-as-table">
<?php $_orders = $block->getOrders(); ?>
    <div class="block-title order">
        <strong><?= /* @escapeNotVerified */ __('My recent orders') ?></strong>
        <?php if (sizeof($_orders->getItems()) > $limit_tho_show):?>
            <div class="as_button_admin">
                <a class="action view" href="<?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>">
                    <span><?= /* @escapeNotVerified */ __('View All') ?></span>
                </a>
            </div>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?= $block->getChildHtml() ?>
    <?php if (sizeof($_orders->getItems()) > 0): ?>
        <div class="table-wrapper orders-recent">
            <table class="data table table-order-items recent" id="my-orders-table">
                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Recent Orders') ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col id"><?= __('N°de commande') ?></th>
                        <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                        <th scope="col" class="col shipping"><?= __('Adresse de livraison') ?></th>
                        <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Total') ?></th>
                        <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Statut') ?></th>
                        <th scope="col" class="col actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $i = 0;
                    foreach ($_orders as $_order):
                        $i++;
                    ?>
                        <?php if($i <= $limit_tho_show):?>
                        <tr>
                            <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                            <?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>

                                </a>
                            <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?=$_order->getShippingAddress()->getName()."<br>".$_order->getShippingAddress()->getStreet()[0]." - ". $_order->getShippingAddress()->getPostcode(). " " .$_order->getShippingAddress()->getCity()?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a target="_new" href="<?= /* @escapeNotVerified */ $block->getUrl().'sales/order/pdfcustomer/order_id/'.$_order->getId(); ?>" class="action view">
                                     <span><?= /* @escapeNotVerified */ __('Voir ma facture') ?></span>
                             </a>
                                <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <br><a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?= /* @escapeNotVerified */ __('Recommander') ?></span>
                                    </a>
                                <?php endif ?>
                            </td>
                        </tr>
                    <?php else:
                    break;
                    ?>
                    <?php endif ?>

                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php foreach ($_orders as $_order):?>
        <div class="mob-table index-recent-table">
            <div class="number-order-col">
                <div class="label-info"><?= __('N°de commande') ?></div>
                <div class="value-info"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></div>
            </div>
            <div class="inforow">
                <div class="date-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Date') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></div>
                </div>
                <div class="total-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Total') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></div>
                </div>
                <div class="status-col">
                    <div class="label-info"><?= /* @escapeNotVerified */ __('Statut') ?></div>
                    <div class="value-info"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></div>
                </div>
            </div>
            <div class="link-palace">
                <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>">❯</a>
            </div>
        </div>
        <?php break; ?>
    <?php endforeach; ?>
    <?php else: ?>
        <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
    <?php endif; ?>
    </div>
</div>
