<?php
/**
 * @author Muhammad Naseem <naseem@redsignal.biz>
 * @var Qota\Criteo\Block\Base $block
 */
?>
<!-- Criteo Homepage Tag -->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $block->getAccountId() ?>}, // You should never update this line
 { event: "setEmail", email: "<?php echo $block->getCustomerEmail() ?>" }, // Can be an empty string 
 { event: "setSiteType", type: deviceType},
 { event: "viewHome"});
</script> 
<!-- END Criteo Home Page Tag -->