<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Paypal\Block\Express\Shortcut $block
 */
?>
<?php
$labelPosition = '';
if ($block->isOrPositionBefore()) {
    $labelPosition = ' before';
} elseif ($block->isOrPositionAfter()) {
    $labelPosition = ' after';
}
$shortcutHtmlId = $block->escapeHtml($block->getShortcutHtmlId());
$isInCatalogProduct = false;
if ($block->getIsInCatalogProduct()) {
    $isInCatalogProduct = $block->getIsInCatalogProduct();
}
//$imgSrc = $block->escapeHtml($linkImage['src']);
$imgSrc = $block->getViewFileUrl('images/pay.png');
if(true):
?>
<div data-label="<?php echo $block->escapeHtml(__('or')); ?>"
     class="paypal checkout <?php /* @noEscape */ echo $labelPosition; ?> paypal-logo
        <?php /* @noEscape */ echo $shortcutHtmlId; ?>"
     data-mage-init='{
     "paypalCheckout": {
                "isCatalogProduct": "<?php /* @noEscape */ echo !empty($isInCatalogProduct) ? (bool)$isInCatalogProduct : false;?>",
                "shortcutContainerClass": "<?php /* @noEscape */ echo "." . $shortcutHtmlId; ?>"
            }
     }'
    >
    <button data-action="checkout-form-submit" class="paypal_check_but"
            data-checkout-url="<?php echo $block->escapeUrl($block->getCheckoutUrl()); ?>"><?= __('Pay with ')?><strong><?= __('PayPal')?></strong></button>
    <?php if ($block->getAdditionalLinkImage()): ?>
        <?php $linkImage = $block->getAdditionalLinkImage(); ?>
        <a href="<?php echo $block->escapeUrl($linkImage['href']);?>">
            <img src="<?php echo $imgSrc; ?>" />
        </a>
    <?php endif; ?>
    <div class="field-tooltip toggle">
        <span class="field-tooltip-action action-help"
              tabindex="0"
              data-toggle="dropdown"
              data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"></span>
        <div class="field-tooltip-content"
             data-target="dropdown" translate="tooltip.description">
            Vouz allez étre redirigé <br>
            automatiquement vers vorte<br>
            compte Paypal afin de procéder<br>
            au paiment du produit.<br>
            Attention, cette option ne perment<br>
            pas le paiment en 3x
        </div>
    </div>
</div>
<?php endif; ?>
<style>

    /* Media query for mobile viewport */
    @media screen and (max-width: 400px) {
        #paypal-button-container {
            width: 100%;
        }
    }

    /* Media query for desktop viewport */
    @media screen and (min-width: 400px) {
        #paypal-button-container {
            width: 150px;
            display: inline-block;
        }
    }

</style>
