<!--@subject Ticket #{{var ticket.uid}}@-->
<!--@styles .aw-hdu-note {color: gray; font-size: 85%;}@-->

{{template config_path="design/email/header_template"}}

<p style="margin-bottom: 30px;">{{trans 'Hello,'}} {{var ticket.customer_name}}.</p><br/><br/>

<p style="margin-bottom: 30px;">
    {{trans "You have a new message about your ticket %ticketid" ticketid=$ticket.uid |raw}}
</p>
<p style="border: 1.5px solid blue; padding: 20px; margin: auto; width: 50%; margin-bottom: 30px;">
    {{var message.content|escape|nl2br}}
</p>

<p style="margin-bottom: 50px;">
    {{trans
    'To access your account, click <a href="%login_url">here</a>'
    login_url="$this.getUrl($store,'customer/account/login/')"
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}