<?php
$moduleId = "widgetinfocols" . rand() . time();
$currentCategory = $block->getCategory($block->getCatId());
$btnTitle = $currentCategory ? __("View all %1", $currentCategory->getName()) : '';
if($block->getData('btn_title')) {
    $btnTitle = $block->getData('btn_title');
}
?>
<div class="grid50">
    <div class="promo-holder">
        <div class="v-middle">
            <div class="promo-title">
                <strong><?php echo $block->getData('title') ?>
                    <span><?php echo $block->getData('precent') ?></span>
                    <small><?php echo $block->getData('subtitle') ?></small>
                </strong>
            </div>
            <?php if ($image = $block->getData('image_chooser')): ?>
                <div class="promo-image">
                    <img src="<?php echo $block->getMediaUrl($image) ?>"
                         alt="<?php echo $block->getData('title') ?>" width="1170px" height ="360px"/>
                </div>
            <?php endif; ?>
            <?php if ($currentCategory): ?>
            <a class="btn-promo"
               href="<?php echo $currentCategory->getUrl() ?>"><span><?php echo $btnTitle ?>
                </span>
            </a>
            <?php  ?>
            <?php endif; ?>
        </div>
    </div>
</div>
