<?php
$moduleId = "widgetinfocols" . rand() . time();
?>
<div class="three-cols">
    <?php if ($block->getData('title')): ?>
        <h2 class='title'><?php echo $block->getData('title'); ?></h2>
    <?php endif; ?>
    <div class="inner-container">
        <div class="row">
            <?php for ($i = 1; $i <= 3; $i++):
                $title = $block->getData('title_' . $i);
                $subtitle = $block->getData('subtitle_' . $i);
                $catId = $block->getData('cat_id_' . $i);
                $image = $block->getData('image_chooser_' . $i);
                ?>
                <div class="item-col">
                    <div class="info-col">
                        <div class="img-holder"><?php if (!empty($image)): ?><img src="<?php echo $block->getMediaUrl($image) ?>" alt="logos" width = "360px" height = "185px" /><?php endif; ?></div>
                        <div class="info-col-text">
                            <p><strong><?php echo $title ?></strong> <?php echo $subtitle ?></p>
                            <?php if ($category = $block->getCategory($catId)): ?>
                                <?php if ($_imgUrl = $category->getImageUrl()): ?>
                                    <div class="col-logo">
                                        <a href="<?php echo $block->escapeUrl($category->getUrl()) ?>">
                                            <img src="<?php echo $_imgUrl ?>" alt="<?php echo $block->escapeHtml($category->getName()); ?>" width = "165px" height = "70px"/>
                                        </a>
                                    </div>
                                <?php endif; ?>
                                <a class="btn-more" href="<?php echo $block->escapeUrl($category->getUrl()) ?>" title="<?php echo $block->escapeHtml($category->getName()); ?>"><?php echo __('View all products') ?></a>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endfor; ?>
        </div>
    </div>
</div>