<?php
//$moduleId = "widget_popup_" . rand() . time();
$moduleId = "widget_popup_footer";
/** @var \Meridian\Widgets\Block\Widget\PopupFooter $block */

/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
?>
<?php if ($block->getData('title')): ?>
    <h2 class='title'><?php echo $block->getData('title'); ?></h2>
<?php endif; ?>
<?php
if (true):
    ?>
    <div class="footer-top hidden-on-sm">
        <?php for ($i = 1; $i <= 4; $i++):
            $title = 'title_block' . $i;
            $subtitle = 'subtitle_block' . $i;
            $show = 'show_block' . $i;
            if ($block->getData($show)):
                ?>
                <div data-id="fragment_<?php echo $i ?>" class="top-col" data-toggle="modal"
                     data-target="#tabModal<?php echo $moduleId ?>">
                    <div class="icon-holder"><img
                                src="<?php echo $block->getViewFileUrl('images/footer/popup/block' . $i . '.svg') ?>"
                                alt="<?php echo $block->getData($title) ?>"  width = "165px" height = "70px"/></div>
                    <div class="text">
                        <strong><?php echo $block->getData($title) ?></strong><span><?php echo $block->getData($subtitle) ?></span>
                    </div>
                </div>
            <?php endif; ?>
        <?php endfor; ?>
    </div>

    <div id="tabModal<?php echo $moduleId ?>" class="modal modal-popup-footer fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="popup-tabs"
                         data-mage-init="{&quot;tabs&quot;:{&quot;openedState&quot;:&quot;active&quot;}}">
                        <ul class="tabs-opener">
                            <?php for ($i = 1; $i <= 4; $i++):
                                $title = 'title_block' . $i;
                                $subtitle = 'subtitle_block' . $i;
                                $show = 'show_block' . $i;
                                if ($block->getData($show)):
                                    ?>
                                    <li class="fragment<?php echo $i ?>" data-role="collapsible">
                                        <div id="fragment-<?php echo $i ?>" class="switch" data-href="#fragment-<?php echo $i ?>"
                                             data-toggle="switch"><span class="icon-holder"> <img
                                                        src="<?php echo $block->getViewFileUrl('images/footer/popup/block' . $i . '.svg') ?>"
                                                        alt="" width = "165px" height = "70px"/> </span> <span
                                                    class="text"><strong><?php echo $block->getData($title) ?></strong><span><?php echo $block->getData($subtitle) ?></span></span>
                                        </div>
                                    </li>
                                <?php endif; ?>
                            <?php endfor; ?>
                            <?php if ($helperBase->getStoreConfig('comptoir_config/product_page/use_prix')): ?>
                                <li class="fragment5" data-role="collapsible">
                                    <div class="switch" data-href="#fragment-5" data-toggle="switch"><span class="icon-holder"> <img
                                                    src="<?php echo $block->getViewFileUrl('images/p2_1.png') ?>"
                                                    alt="" width = "64px" height = "64px"/> </span> <span
                                                class="text"><strong><?php echo $helperBase->getStoreConfig('comptoir_config/product_page/prix_title') ?></strong><span><?php echo $helperBase->getStoreConfig('comptoir_config/product_page/prix_sub_title') ?></span></span>
                                    </div>
                                </li>
                            <?php endif; ?>
                        </ul>
                        <div class="popup-content">
                            <?php for ($i = 1; $i <= 4; $i++):
                                $title = 'title_block' . $i;
                                $subtitle = 'subtitle_block' . $i;
                                $show = 'show_block' . $i;
                                $content = 'content_block' . $i;
                                if ($block->getData($show)):
                                    ?>
                                    <div id="fragment-<?php echo $i ?>" class="tabcontent" data-role="content"><strong
                                                class="tab-title"><?php echo $block->getData($title) ?></strong>
                                        <?php echo $block->contentToHtml($block->getData($content)) ?>
                                    </div>
                                <?php endif; ?>
                            <?php endfor; ?>
                            <?php if ($helperBase->getStoreConfig('comptoir_config/product_page/use_prix')): ?>
                                <div id="fragment-5" class="tabcontent" data-role="content">
                                    <?php echo $block->contentToHtml($helperBase->getStoreConfig('comptoir_config/product_page/prix')) ?>
                                    <?php echo $block->getLayout()->createBlock('Meridian\Base\Block\PrixForm')->setTemplate('prix_form.phtml')->toHtml(); ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="popup-tabs tablet" data-mage-init="{&quot;tabs&quot;:{&quot;openedState&quot;:&quot;active&quot;}}">
                        <ul class="tabs-opener">
                            <?php for ($i = 1; $i <= 4; $i++):
                                $title = 'title_block' . $i;
                                $subtitle = 'subtitle_block' . $i;
                                $show = 'show_block' . $i;
                                $content = 'content_block' . $i;
                                if ($block->getData($show)):
                                    ?>
                                    <li class="fragment<?php echo $i ?>" data-role="collapsible">
                                        <div class="fragment-<?php echo $i ?> switch" data-href="#fragment-tablet-<?php echo $i ?>"
                                             data-toggle="switch"><span class="icon-holder"> <img
                                                        src="<?php echo $block->getViewFileUrl('images/footer/popup/block' . $i . '.svg') ?>"
                                                        alt="" width = "165px" height = "70px"/> </span> <span
                                                    class="text"><strong><?php echo $block->getData($title) ?></strong><span><?php echo $block->getData($subtitle) ?></span></span>
                                        </div>
                                        <div id="fragment-tablet-<?php echo $i ?>" class="tabcontent" data-role="content"><strong
                                                    class="tab-title"><?php echo $block->getData($title) ?></strong>
                                            <?php echo $block->contentToHtml($block->getData($content)) ?>
                                        </div>
                                    </li>
                                <?php endif; ?>
                            <?php endfor; ?>
                            <?php if ($helperBase->getStoreConfig('comptoir_config/product_page/use_prix')): ?>
                                <li class="fragment5" data-role="collapsible">
                                    <div class="fragment-<?php echo $i ?> switch" data-href="#fragment-tablet-5"
                                         data-toggle="switch"><span class="icon-holder"> <img
                                                    src="<?php echo $block->getViewFileUrl('images/p2_1.png') ?>"
                                                    alt="" width = "64px" height = "64px"/> </span> <span
                                                class="text"><strong><?php echo $helperBase->getStoreConfig('comptoir_config/product_page/prix_title') ?></strong><span><?php echo $helperBase->getStoreConfig('comptoir_config/product_page/prix_sub_title') ?></span></span>
                                    </div>
                                </li>
                                <div id="fragment-tablet-5" class="tabcontent" data-role="content">
                                    <?php echo $block->contentToHtml($helperBase->getStoreConfig('comptoir_config/product_page/prix')) ?>
                                    <?php echo $block->getLayout()->createBlock('Meridian\Base\Block\PrixForm')->setTemplate('prix_form.phtml')->toHtml(); ?>
                                </div>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>var poupModalTarget='tabModal<?php echo $moduleId ?>'; </script>
<?php endif; ?>

<div class="footer-top hidden-on-large">
    <?php for ($i = 1; $i <= 4; $i++):
        $title = 'title_block' . $i;
        $subtitle = 'subtitle_block' . $i;
        $show = 'show_block' . $i;
        $content = 'content_block' . $i;
        if ($block->getData($show)):
            ?>
            <div data-id="fragment_<?php echo $i ?>" class="top-col" data-toggle="collapse"  href="#content_fragment_<?php echo $i ?>" role="button" aria-expanded="false" aria-controls="content_fragment_<?php echo $i ?>">
                <div class="icon-holder"><img
                            src="<?php echo $block->getViewFileUrl('images/footer/popup/block' . $i . '.svg') ?>"
                            alt="<?php echo $block->getData($title) ?>" width = "165px" height = "70px"/></div>
                <div class="text">
                    <strong><?php echo $block->getData($title) ?></strong><span><?php echo $block->getData($subtitle) ?></span>
                </div>
            </div>
            <div id="content_fragment_<?php echo $i ?>" class="content-fragment collapse">
                <div class="inner-wrapper">
                    <?php echo $block->contentToHtml($block->getData($content)) ?>
                </div>
            </div>
        <?php endif; ?>
    <?php endfor; ?>
</div>
