<?php
$moduleId = "widgetslider".rand().time();
?>
<?php if($block->getData('title')): ?>
    <h2 class='title'><?php echo $block->getData('title'); ?></h2>
<?php endif; ?>
<div class="inner-wrap-home-slider">
    <div id="<?php echo $moduleId ?>" class="home-main-slider">
        <?php for($i = 1; $i <= 5; $i++):
            $title = $block->getData('title_'.$i);
            $subtitle = $block->getData('subtitle_'.$i);
            $link = $block->getData('link_'.$i);
            $link_name = $block->getData('linkname_'.$i);
            $image = $block->getData('image_chooser_'.$i);
            if(!empty($image)):
            ?>
                <div class="slide-holder">
                    <div class="img-holder">
                      <img src="<?php echo $block->getMediaUrl($image) ?>" width="1170px" height="360px" alt="slider 1 alt tag"  />   
                    </div>
                    <div class="caption-holder">
                        <div class="v-align">
                            <div class="v-middle">
                                <?php if(!empty($title)): ?>
                                <strong class="slider-title"><?php echo $title ?></strong>
                                <?php endif; ?>
                                <?php if(!empty($subtitle)): ?>
                                <strong><?php echo $subtitle ?></strong>
                                <?php endif; ?>
                                <?php if(!empty($link_name)): ?>
                                <a class="btn-slide" href="<?php echo $link ?>"><span><?php echo $link_name ?></span></a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endfor; ?>
    </div>
    <div id="place-for-dots-home"></div>
</div>
<script>
 require(['jquery','slick'], function(jQuery){var dots=jQuery("#place-for-dots-home"); jQuery('#<?php echo $moduleId ?>').slick({slidesToScroll: 1, arrows: false, /* lazyLoad: 'ondemand', */ infinite: false, dots: true, appendDots: dots});});
</script>
