<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<div class="breadcrumbs">
    <ul class="items">
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <li class="item <?= /* @escapeNotVerified */ $crumbName ?>">
            <?php if ($crumbInfo['link']) : ?>
                <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= $block->escapeHtml($crumbInfo['label']) ?></a>
            <?php elseif ($crumbInfo['last']) : ?>
                <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>
            <?php else: ?>
                <?= $block->escapeHtml($crumbInfo['label']) ?>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
      <?php $iterator = 1; foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <?php $coma = ($crumbInfo['last']) ? '' : ',' ?>
      {
        "@type": "ListItem",
        "position": <?php echo $iterator++ ?>,
        "item": {
          "@id": "<?= /* @escapeNotVerified */ $crumbInfo['link'] ? $crumbInfo['link'] : $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>",
          "name": "<?= $block->escapeHtml($crumbInfo['label']) ?>"
        }
      }<?php echo $coma; ?>
      <?php endforeach; ?>
      ]
    }
    </script>
<?php endif; ?>
