<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')): ?>
    <?php
    $layout = $block->getLayout();
    $columns = 0;
    foreach ($detailedInfoGroup as $name) {
        $html = $layout->renderElement($name);
        if (!trim($html)) {
            continue;
        }
        $columns++;
    }
    ?>
    <div class="footer-cols cols-<?php echo $columns ?>">
        <?php $i = 1;
        foreach ($detailedInfoGroup as $name): ?>
            <?php
            $html = $layout->renderElement($name);
            if (!trim($html)) {
                continue;
            }
            $alias = $layout->getElementAlias($name);
            $label = $block->getChildData($alias, 'title');
            ?>
            <div class="f-link-col col-<?php echo $i++ ?>" id="block-links-<?php echo $i ?>">
                <?php echo /* @escapeNotVerified */
                $html ?>
            </div>
        <?php endforeach; ?>
    </div>
    <script type="text/javascript">require(['jquery'], function ($){if ($(window).width() <=425){$('#block-links-1 p').click(function (){$('#block-links-1 .f-links').toggle("slow");}); $('#block-links-2 p').click(function (){$('#block-links-2 .f-links').toggle("slow");}); $('#block-links-3 p').click(function (){$('#block-links-3 .f-links').toggle("slow");}); $('#block-links-4 p').click(function (){$('#block-links-4 .f-links').toggle("slow");});}}); </script>
<?php endif; ?>