<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */

$helperBase = $this->helper('\Meridian\Base\Helper\Data');
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$title = '';
$product = '';
if($helperBase->isCurrentProduct())
{
    $product = $helperBase->getProductNameSku();   
}

$additionalTitle = $block->getChildHtml('product.brand.name');
if($product!=1)
{
    $title = $product;
}
else
{
    if (trim($block->getPageHeading())) 
    {
        $product_name = $block->escapeHtml($block->getPageheading());
        $sku =  $helperBase->getProductSKU();
        $title = $product_name." ".$sku;
        if($additionalTitle)
        {
            $title .= ' <span>' . $additionalTitle . '</span>';
        }
    }
}
$childList = $block->getChildHtml();
$block->unsetChild('product.brand.name');
?>
<?php if ($title): ?>
<div class="page-title-wrapper<?= /* @escapeNotVerified */ $cssClass ?>">
    <h1 class="page-title" <?php if ($block->getId()): ?> id="<?= /* @escapeNotVerified */ $block->getId() ?>" <?php endif; ?><?php if ($block->getAddBaseAttributeAria()): ?> aria-labelledby="<?= /* @escapeNotVerified */ $block->getAddBaseAttributeAria() ?>"<?php endif; ?>><?= /* @escapeNotVerified */ $title; ?></h1>
    <?= $block->getChildHtml() ?>
</div>
<?php endif; ?>
