<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Commande annulée @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"fronend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message",
"var template_styles|raw":"Template CSS",
"var store.getFrontendName()":"Store Name"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" style="width: 600px;margin: 0 auto;">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center" style="width: auto;">
                <tr>
                    <td class="header" style="text-align: center;">
                        <a class="logo" href="{{store url=""}}">
                        <img
                                {{if logoTemplate_width}}
                                width="{{var logoTemplate_width}}"
                                {{else}}
                                width="180"
                                {{/if}}

                        {{if logoTemplate_height}}
                        height="{{var logoTemplate_height}}"
                        {{else}}
                        height="52"
                        {{/if}}

                        src="{{var logoTemplate_img}}"
                        alt="{{var logoTemplate_alt}}"
                        border="0"
                        />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                        <!-- Begin Content -->
<table>
    <tr class="email-summary">
        <td>
            <h1 style="margin-bottom: 0;" class="email-summary-header">{{trans 'ANNULATION DE VOTRE COMMANDE <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p style="margin-top: 0;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td style="font-size: 14px;">
            <p class="greeting">{{trans "Bonjour, %customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Nous vous informons que votre commande vient d’être annulée. Le montant de celle-ci ne vous a donc pas été débité."}}
                {{trans "compte. Nous vous contacterons dès que votre colis sera expédié."}}
            </p>
            <p>
                {{trans "Pour toute information complémentaire, vous pouvez joindre notre service client au"}} {{config path="general/store_information/phone"}} {{config path="general/store_information/hours"}}
            </p>
            <h3 style="margin-top: 30px;">
                {{trans "DÉTAIL DE VOTRE COMMANDE :"}}
            </h3>
        </td>
    </tr>
    <tr>
        {{var itemsData|raw}}
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details" style="border-collapse: separate; border-spacing: 5px; width: 100%; font-size: 14px; margin-bottom: 50px; text-align: center;">
                <tr>
                    <td class="address-details" style="width: 30%; padding: 5px; border: 4px solid #e2dfdf;">
                        <h3 style="font-weight: 300;font-size: 14px;margin-top: 0;margin-bottom: 10px;text-decoration: underline;">{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details" style="width: 30%; padding: 5px; border: 4px solid #e2dfdf;">
                        <h3 style="font-weight: 300;font-size: 14px;margin-top: 0;margin-bottom: 10px;text-decoration: underline;">{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                    <td class="email-address-details-info" style="width: 40%; padding: 5px;">
                        <div style="border: 4px solid #e2dfdf; padding: 0;">
                            <h3 style="font-weight: 300;font-size: 14px;margin-top: 0;margin-bottom: 10px;text-decoration: underline;">{{trans "Shipping Method"}}</h3>
                            <p>{{var order.getShippingDescription()}}</p>
                            {{if shipping_msg}}
                            <p>{{var shipping_msg}}</p>
                            {{/if}}
                        </div>
                        <div style="margin-top: 20px; border: 4px solid #e2dfdf; padding: 0px; margin-top: 10px;">
                            <h3 style="font-weight: 300;font-size: 14px;margin-top: 0;margin-bottom: 10px;text-decoration: underline;">{{trans "Payment Method"}}</h3>
                            {{var payment_html|raw}}
                        </div>
                    </td>
                </tr>
            </table>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

                        <!-- End Content -->
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td class="footer">
                        <p style="margin-top: 10px;">{{trans "Nous vous remercions de votre confiance et restons à votre disposition pour tout complément d’information."}}</p>
                        <p class="closing">{{trans "Merci,"}} <br> {{var store.getFrontendName() |raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="footer-info" style="font-size: 10px;background-color: #eeeeee;">
                        <div style="display: inline-block; width: 28%; margin-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var footer_images_first}}"
                                    alt="Free Shipping"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Livraison gratuite"}}</p>
                                <p>{{trans "Livraison offerte en France métropolitaine à partir de 120€ HT"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var footer_images_second}}"
                                    alt="payment cards"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Paiement sécurisé"}}</p>
                                <p>{{trans "Achetez en toute confiance grâce au paiement sécurisé Paybox"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var footer_images_third}}"
                                    alt="contacts"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Contact"}}</p>
                                <p style="margin-bottom: 0px;">{{depend store_phone}} {{trans 'Tel: <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}</p>
                                <p>{{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
