<?php foreach($this->getPurchaseOrder()->getAllItems() as $item): ?>
    <tr>
        <td style="padding: 10px;"><?php echo ($item->getpop_supplier_sku() ? $item->getpop_supplier_sku() : $item->getpop_sku()); ?></td>
        <td style="padding: 10px;"><?php echo $item->getpop_name(); ?></td>
        <td style="padding: 10px;"><?php echo round($item->getpop_price(),2); ?></td>
        <td style="padding: 10px;"><?php echo $item->getpop_qty(); ?></td>
        <td style="padding: 10px;"><?php echo $item->getpop_tax_rate() . '%'; ?></td>
        <td style="padding: 10px;"><?php echo round($item->getpop_subtotal(),2); ?></td>
        <td style="padding: 10px;"><?php echo round($item->getpop_grandtotal(),2); ?></td>
    </tr>
<?php endforeach; ?>