<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
$active1 = $block->getData('active1');
$active2 = $block->getData('active2');


?>
<ul class="checkout-additional-fields">
    <li class="checkout-step-item <?php if($active1):?>active<?php endif; ?>">
        <i class="number-item">1</i>
        <span class="heading-item"><?php echo(__('Panier')) ?></span>
    </li>
    <li class="checkout-step-item <?php if($active2):?>active<?php endif; ?>">
        <i class="number-item">2</i>
        <span class="heading-item"><?php echo(__('Livraison et paiement')) ?> </span>
    </li>
</ul>