<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="cartForm form">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart cart-items-holder<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif; ?>
        <div id="shopping-cart-table"
               class="itemcart-list cart items data"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <div role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ //echo __('Shopping Cart Items') ?></div>
             <div class="thead">
                <div class="tr">
                    <div class="col item" scope="col"><span class="col-name item"><?php  /* @escapeNotVerified */ echo __('Products') ?></span></div>
                    <div class="col qty" scope="col"><span class="col-name qty"><?php  /* @escapeNotVerified */ echo __('Quantity') ?></span></div>
                    <div class="col subtotal price" scope="col"><span class="col-name subtotal"><?php  /* @escapeNotVerified */ echo __('Price') ?></span></div>
                </div>
            </div>
            <?php foreach ($block->getItems() as $_item): ?>
                <?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </div>
    <div class="cart cart-buttons">
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?php echo $block->escapeHtml(__('Update Shopping Cart')); ?>"
                class="action update">
            <span><?php /* @escapeNotVerified */ echo __('Update Shopping Cart'); ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
        <?php if(false): ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
        </button>
        <?php endif; ?>
        <!-- <a type="submit"
                name="gotohomepage_cart_action"
                href="<?php //echo $this->getBaseUrl() ?>"
                title="<?php //echo $block->escapeHtml(__('Continue your shopping')); ?>"
                class="action gotohomepage">
            <span><?php /* @escapeNotVerified */ //echo __('Continue your shopping'); ?></span>
        </a> -->
    </div>
</form>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>

