
<?php if ($this->getParam('save')): ?>
    <div class="message-success success message">
        <?php echo __('Changes saved successfully.'); ?>
    </div>
<?php endif; ?>

<form method="POST" action="<?php echo $this->getSaveUrl(); ?>" id="frm_supplier">

    <input type="hidden" name="po_id" value="<?php echo $this->getParam('po_id'); ?>">
    <input type="hidden" name="token" value="<?php echo $this->getParam('token'); ?>">


    <table border="1" width="100%">
        <tr>
            <th><?php echo __('Date'); ?></th>
            <th><?php echo __('Order #'); ?></th>
            <th><?php echo __('Products'); ?></th>
            <th><?php echo __('Status'); ?></th>
            <th><?php echo __('Actions'); ?></th>
            <th></th>
        </tr>
        <?php foreach($this->getOrders() as $order): ?>
            <tr>
                <td><?php echo $order->getpo_created_at(); ?></td>
                <td><?php echo $order->getpo_reference(); ?></td>
                <td>
                    <?php foreach($order->getAllItems() as $item): ?>
                        <?php echo $item->getpop_qty().'x '.($item->getpop_supplier_sku() ? $item->getpop_supplier_sku() : $item->getpop_sku()).' - '.$item->getpop_name() ; ?><br>
                        <?php endforeach; ?>
                </td>
                <td><?php echo $order->getpo_status(); ?></td>
                <td>
                    <?php if ($this->canAction($order)): ?>
                        <select name="po[<?php echo $order->getId(); ?>][action]">
                            <option></option>
                            <?php foreach($this->getActions($order) as $key => $label): ?>
                                <option value="<?php echo $key; ?>"><?php echo $label; ?></option>
                            <?php endforeach; ?>
                        </select>
                        <br>&nbsp;</br>
                        <p><?php echo __('Tracking #'); ?><br>
                        <input name="po[<?php echo $order->getId(); ?>][tracking]" type="text" value="<?php echo $order->getpo_shipping_tracking(); ?>">
                    <?php endif; ?>
                </td>
                <td align="center">
                    <button type="button" title="Print" class="action   " onclick="document.location.href = ('<?php echo $this->getPrintUrl($order); ?>');"><span><?php echo __('Print'); ?></span></button>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>

    <div align="center">
        <p>&nbsp;</p>
            <button type="button" title="Save" style="height: 50px; width: 200px" class="action primary tocart" onclick="document.getElementById('frm_supplier').submit();"><span><?php echo __('Save'); ?></span></button>
        <p>&nbsp;</p>
    </div>


</form>