<div class="block">
  <form name="comnpay" method="post" action="https://secure.comnpay.com">
    <?php echo __('Please wait, you will be redirected to the payment form.') ?> <a href="javascript:document.comnpay.submit();"> <?php echo __('or click here') ?></a>
    <?php 
      /**
        * @var \Afone\ComNpay\Block\Display $block
      */
      echo $block->construct_phtml(); ?>
  </form>
</div>

<script type="text/javascript">
    document.getElementsByClassName("messages")[0].style.display= 'none';
    document.comnpay.submit();
</script>



