<?php
/** @var Meridian\Widgets\Block\Widget\Product\ProductsList $block */
$items = $block->homePromotionProducts(); //Bottom

//Default fall back
if (null === $items) {
    if ($block->getProductCollection() && $block->getProductCollection()->getSize()) {
        $items = $block->getProductCollection()->getItems();
    }
}

$type = 'widget-product-grid';

$mode = 'grid';

$image = 'new_products_content_widget_grid';
$title = $block->getTitle() ? __($block->getTitle()) : '';
//$items = $block->getProductCollection()->getItems();

$showWishlist = false;
$showCompare = false;
$showCart = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
$description = false;
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
?>
<?php if (!empty($items)): ?>

    <div class="product-container <?php /* @escapeNotVerified */
    echo $mode; ?>">
        <?php if ($title): ?>
            <div class="product-title">
                <strong class="h2"><?php /* @escapeNotVerified */ echo $title; ?></strong>
            </div>
        <?php endif ?>
        <div class="inner-container">
            <?php /* @escapeNotVerified */
            echo '<!-- ' . $image . '-->' ?>
            <div class="product-row slick-slider-row <?php /* @escapeNotVerified */
            echo $type; ?>">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item):
                    ?>
                    <?php /* @escapeNotVerified */
                    echo ($iterator++ == 1) ? '<div class="item-col">' : '</div><div class="item-col">' ?>
                    <?php $productUrl = $_item->getProductUrl() ?>
                    <div class="item-info" onclick="setLocation('<?php /* @escapeNotVerified */ echo $productUrl ?>')">
                        <div class="item-photo">
                            <?php
                            $alt = $helperBase->getProductImageAlt($_item);
                            echo $block->getImage($_item, $image, ['alt' => $alt])->toHtml();
                            ?>
                        </div>
                        <?php
                        if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_item)) {
                            ?>
                            <div class="dicount-percent">
                                <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_item); ?>
                            </div>
                            <?php
                        }
                        ?>
                        <div class="item-details">
                            <p class="item-name">
                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */
                                   echo $productUrl ?>"
                                   class="item-name-link">
                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </p>

                            <?php if ($templateType): ?>
                                <div class="stars-rating">
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                </div>
                            <?php endif; ?>

                            <?php if($_item->getTypeId() === 'configurable'): ?>
                            <div class="price-container-configurable">
                                <span class="pre-price-label"><?php echo __('À partir de') ?></span>
                                <?php endif; ?>
                            <?php echo $block->getProductPriceHtml($_item, $type); ?>
                            <?php if($_item->getTypeId() === 'configurable'):
                                $priceIncTax = $helperBase->getPriceInclAndExclTax($_item);
                                if (isset($priceIncTax['incl'])) {
                                    $priceIncTax = $helperBase->currencyFormate($priceIncTax['incl']);
                                }
                                if(($_item->getTypeId() === 'configurable') && $priceIncTax && ($currentPirceDisplay == 'EXC_TAX')){
                                    echo sprintf('<span class="price-including-tax price-after-tax" data-label="%s"><span class="price">%s</span></span>',__("Incl. Tax"),$priceIncTax);
                                }
                                $count = $helperBase->getCountCompareProducts($_item);
                                $text = ($count == 1) ? __('%1 référence pour ce produit', $count) : __('%1 références pour ce produit', $count);
                                ?>
                                    <span class="ref-count">(<?php echo $text ?>)</span>
                                </div><!-- end price-container-configurable -->
                            <?php endif; ?>

                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="product-item-actions hidden">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="action tocart primary"
                                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */
                                                            echo $block->getAddToCartUrl($_item) ?>"}}'
                                                            type="button" title="<?php /* @escapeNotVerified */
                                                    echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="action tocart primary"
                                                            data-post='<?php /* @escapeNotVerified */
                                                            echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */
                                                    echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */
                                                            echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                            echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($showWishlist || $showCompare): ?>
                                        <div class="actions-secondary" data-role="add-to-links">
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                <a href="#"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $block->getAddToWishlistParams($_item); ?>'
                                                   class="action towishlist" data-action="add-to-wishlist"
                                                   title="<?php /* @escapeNotVerified */
                                                   echo __('Add to Wish List') ?>">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                            <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                                <a href="#" class="action tocompare"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $compareHelper->getPostDataParams($_item); ?>'
                                                   title="<?php /* @escapeNotVerified */
                                                   echo __('Add to Compare') ?>">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('Add to Compare') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php echo ($iterator == count($items) + 1) ? '</div>' : '' ?>
                <?php endforeach ?>
            </div>
            <div id="slick-arrow-place" class="slick-arrow-place"></div>

            <?php echo $block->getPagerHtml() ?>
            <script type="text/javascript">require(['jquery', 'slick'], function ($){var arrow=$('#slick-arrow-place'); $(document).ready(function ($){$('.slick-slider-row').slick({autoplay: false, infinite: false,/*  lazyLoad: 'ondemand', */ speed: 1000, slidesToShow: 4, slidesToScroll: 1, appendArrows: arrow, prevArrow: '<div class="slick-prev"><div>', nextArrow: '<div class="slick-next"><div>', dots: false, responsive: [{breakpoint: 992, settings:{slidesToShow: 2, slidesToScroll: 1, infinite: false,/*  lazyLoad: 'ondemand', */ dots: false}},{breakpoint: 768, settings:{slidesToShow: 1, infinite: false, /* lazyLoad: 'ondemand', */ slidesToScroll: 1}}]});});}); </script>
            <script type="text/javascript"> function setLocation(url) {window.location.href = url;}</script>
        </div>
    </div>
<?php endif; ?>