<?php
/**
 * Created on 11th Apr 2017.
 * Request template
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
$_quotes = $block->getQuotes();

//To get the quote object instance.
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$options = $this->getQuoteFactory();
$_order = $options->load($_quotes[0]['quote_id']);

$_customer = $block->getCustomerSession()->load($_quotes[0]['user_id']);
$customerGroupId = $_customer->getGroupId();
$reorder = $block->getQuoteToOrderUrl();
?>

<!-- Back Button in the View Quotes Page -->
<div class="page-main-actions">    
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="View Requests">
            <div class="page-actions-buttons">
                <button type="button" title="<?php echo "Back"; ?>" class="action-default scalable back" onclick="window.location = '<?php echo $this->getUrl('quote2sales/quotes/quotes') ?>';">
                    <span>
                        <?php /* @escapeNotVerified */ echo __('Back') ?>                    
                    </span>
                </button>
                <button type="button" title="<?php echo "Cancel Quote"; ?>" class="action-default scalable" onclick="window.location = '<?php echo $this->getUrl('*/*/cancel', ['quote_id' => $_quotes[0]['quote_id']]) ?>';">
                    <span>  <?php /* @escapeNotVerified */ echo __('Cancel Quote') ?></span>
                </button>
                <button type="button" title="<?php echo "Email Quote"; ?>" class="action-default scalable" onclick="window.location = '<?php echo $this->getUrl('*/*/email', ['quote_id' => $_quotes[0]['quote_id']]) ?>';">
                    <span>  <?php /* @escapeNotVerified */ echo __('Email Quote') ?></span>
                </button>
                <button type="button" title="<?php echo "Convert to Order"; ?>" class="action-default scalable" onclick="window.location = '<?php echo $reorder ?>';">
                   <span>  <?php /* @escapeNotVerified */ echo __('Quote to Order') ?></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Quotes and Account Information -->
<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title">Quotes &amp; Account Information</span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title">Quote #<?php echo $_quotes[0]['quote_id'] ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tbody>
                        <tr>
                            <th><label><br><?php echo __('Quote Date') ?></label></th>
                            <td><?php echo $_quotes[0]['quote_date'] ?></td>
                        </tr>
                        <tr>
                            <th><label><br><?php echo __('Purchased From') ?></label></th>
                            <td><?php echo $block->getStoreName() ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Account Information') ?></span>
                <div class="actions"></div>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tbody>
                        <tr>
                            <th><label><?php echo __('Customer Name') ?></label></th>                            
                            <td>
                            <?php if ($_customerUrl = $block->getCustomerViewUrl()): ?>
                                <a href="<?php /* @escapeNotVerified */ echo $_customerUrl ?>" target="_blank">                                
                                    <span><?php echo $_customer->getName() ?></span>
                                </a>
                               <?php else: ?>
                                <?php echo $block->escapeHtml($_customer->getName()) ?>
                            <?php endif; ?>
                                </td>
                        </tr>                      
                        <tr>
                            <th><label><br><?php echo __('Customer Email') ?></label></th>
                            <td>
                                <a href="mailto:<?php echo $block->escapeHtml($_customer->getEmail()) ?>">
                                <?php echo $block->escapeHtml($_customer->getEmail()) ?>
                            </td>
                        </tr>
                                                
                       <?php if ($customerGroupId) : ?>
                        <tr>
                            <th><br><?php echo __('Customer Group') ?></th>
                            <td><h4> <?php echo $block->groupRepository()->getById($customerGroupId)->getCode(); ?></h4></td>
                        </tr>
                       <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
</section>

<!-- Address info: Billing and Shipping Address -->
<section class="admin__page-section order-addresses">
    <div class="admin__page-section-title">
        <span class="title"><?php /* @escapeNotVerified */ echo __('Address Information') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-billing-address">
            <?php /* Billing Address */?>
            <div class="admin__page-section-item-title">
                <span class="title"><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span>
                <div class="actions">
                    <?php /* @escapeNotVerified */ //echo $block->getAddressEditLink($_order->getBillingAddress()); ?>                
                </div>
            </div>
            <address class="admin__page-section-item-content"><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
        </div>
        <?php //if (!$block->getOrder()->getIsVirtual()): ?>
            <div class="admin__page-section-item order-shipping-address">
                <?php /* Shipping Address */ ?>
                <div class="admin__page-section-item-title">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span>
                    <div class="actions"><?php /* @escapeNotVerified */ //echo $block->getAddressEditLink($_order->getShippingAddress()); ?></div>
                </div>
                <address class="admin__page-section-item-content"><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getShippingAddress()); ?></address>
            </div>
        <?php //endif; ?>
    </div>
</section>

<!-- Quote Comment -->
<section class="admin__page-section order-view-billing-shipping">
    <div class="admin__page-section-title">
        <span class="title"><?php echo __('Quote Comment') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item-content">
            <div class="order-payment-method-title"><?php echo $_quotes[0]['seller_comment'] ?></div>
        </div>
    </div>
</section>

<!-- Items Quoted -->
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?php echo __('Items Quoted') ?></span>
    </div>
</section>