

    <section class="admin__page-section order-view-advanced-stock">
        <div class="admin__page-section-title">
            <span class="title"><?php echo __('Drop Ship : related purchase orders'); ?></span>

        </div>

        <div class="admin__page-section-content">

            <table class="data-grid" id="cache_grid_table">
                <thead>
                <tr>
                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Supplier'); ?></span></th>
                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Purchase order #'); ?></span></th>
                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Purchase order date'); ?></span></th>
                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Purchase order status'); ?></span></th>
                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Products'); ?></span></th>
                </tr>
                </thead>

                <tbody>
                <?php foreach($this->getPurchaseOrders() as $po): ?>
                    <tr>
                        <td class="a-left"><?php echo $po->getSupplier()->getSupName(); ?></td>
                        <td class="a-left"><a href="<?php echo $this->getPurchaseOrderUrl($po); ?>"><?php echo $po->getpo_reference(); ?></a></td>
                        <td class="a-left"><?php echo $po->getpo_created_at(); ?></td>
                        <td class="a-left"><?php echo $po->getpo_status(); ?></td>
                        <td class="a-left">
                            <?php foreach($po->getAllItems() as $item): ?>
                                <?php echo $item->getpop_qty();?>x <?php echo $item->getpop_name();?> (<?php echo $item->getpop_sku();?>)<br>
                            <?php endforeach; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

        </div>
    </section>
