.meridiancustomer-account-create .page-title-wrapper {
    padding: 0 30px;
}

.before-create-container .form.create.account .fieldset.fieldset-pro {
    margin-bottom: 0;
}

.before-create-container.dashboard-holder {
    text-align: center;
}

.control.captcha {
    margin-bottom: 20px;
}

.meridiancustomer-account-create .page-title-wrapper {
    display: flex;
}

.customer-account-login .page-header .dropdown-menu .drop-inner .login-list a.action.primary,
.meridiancustomer-account-guest .page-header .dropdown-menu .drop-inner .login-list a.action.primary,
.meridiancustomer-account-create .page-header .dropdown-menu .drop-inner .login-list a.action.primary {
    min-width: 140px;
    max-width: 140px;
}

.meridiancustomer-account-create .columns.dashboard-holder,
.meridiancustomer-account-create .column.main {
    padding-bottom: 0;
}

.before-create-container .form.create.account .fieldset.fieldset.captcha {
    width: 100%;
    margin-top: 29px;
}

.before-login-container {
    display: flex;
}

.fields.customer-type label {
    font-weight: normal;
}

.before-create-container .form.create.account .fieldset.fieldset-no-pro .fieldset.create.account,
.fieldset.fieldset-no-pro fieldset.fieldset.create.info,
.before-create-container .form.create.account .fieldset.fieldset-pro {
    width: 100%;
}

.fields.customer-type .field {
    float: left;
    width: 50%;
}

.fieldset.fieldset-pro,
.fieldset.fieldset-no-pro {
    padding-top: 20px;
}

button.action.reload.captcha-reload {
    font-size: 11px;
    padding: 4px;
}

.fieldset > .field:not(.choice) > .control {
    width: 100%;
}

.fieldset.fieldset-pro .field.choices.newsletter {
    margin-top: 140px;
}

.fields.customer-type {
    width: 50%;
    max-width: 400px;
}

.fieldset.fieldset-no-pro {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 auto;
}

.fieldset.fieldset-no-pro .fieldset.create.account {
    margin-top: 0;
    padding-top: 0;
}

.before-create-container .form.create.account .fieldset.fieldset-no-pro .fieldset.create.account,
.fieldset.fieldset-no-pro fieldset.fieldset.create.info,
.before-create-container .form.create.account .fieldset.fieldset-no-pro {
    float: none;
    margin-bottom: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.before-login-container > .block {
    width: 33%;
}

.before-login-container .block .block-title strong,
.before-login-container .block .block-title span {
    display: block;
}

.before-login-container .block .block-title span {
    color: #0097ba;
}

.fieldset.fieldset-no-pro {
    display: block;
    margin: 0 auto;
    width: 50%;
    float: none;
}

.dashboard-holder .column.main .before-login-container .block:not(.widget) .block-title > strong {
    color: #2b303c;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.before-login-container .block .block-content {
    padding: 0 70px 0 0;
}

.before-login-container .block:last-child .block-content {
    padding: 0;
}

.before-create-container {
    margin-top: 20px;
}

.before-create-container .form.create.account {
    width: 100%;
}

.before-create-container .form.create.account .fieldset {
    float: left;
    width: 50%;
    position: relative;
}

.before-create-container form .actions-toolbar,
.column:not(.sidebar-main) .before-create-container form .actions-toolbar {
    clear: both;
    text-align: center;
    margin: 0;
}

.before-create-container .actions-toolbar > .primary {
    float: none;
}

.before-create-container .form.create.account .field.newsletter .checkbox {
    display: inline;
}

.before-create-container .form.create.account .fieldset .legend {
    width: auto;
}

.before-create-container .form.create.account .fieldset > .field:not(.choice) > .label {
    display: block;
    float: none;
    padding: 0 0 6px 0;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

.before-create-container .form-title {
    color: #0097ba;
    font-size: 18px;
    margin-bottom: 30px;
}

.before-create-container .fieldset .fields {
    display: flex;
}

.before-create-container .fieldset .fields > .field {
    width: 50%;
}

.before-create-container .fieldset label {
    font-weight: normal;
}

.before-create-container .fieldset .newsletter-guest label {
    color: #ccc;
    pointer-events: none;
}

.before-create-container .newsletter-guest input[type="checkbox"][readonly] {
    pointer-events: none;
}

div#password-strength-meter-container,
form#form-validate input.input-text {
    max-width: 300px;
}

input[type="radio"]#type_no_pro,
input[type="radio"]#type_pro {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox; /* Firefox */
    -ms-appearance: checkbox; /* Internet Explorer */
}

.meridiancustomer-account-create li.checkout-step-item.active:after,
.meridiancustomer-account-guest li.checkout-step-item.active:after,
.customer-account-create li.checkout-step-item.active:after {
    content: "🗸";
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
}

.customer-account-create .page-title-wrapper {
    display: flex;
    clear: both;
}

.customer-account-create .before-create-container .fieldset label {
    margin-bottom: 0;
}

.before-create-container .form.create.account .fieldset.fieldset-no-pro {
    padding-bottom: 20px;
}

.page-title-wrapper.customer-centered {
    max-width: 300px;
    padding: 0;
}

.before-create-container .form.create.account .fieldset.fieldset-no-pro,
.customer-account-create .before-create-container .fieldset .fields {
    max-width: 300px;
}

.page-title-wrapper.customer-centered {
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    max-width: unset;
}

.customer-account-create h1.page-title {
    margin-top: 20px;
}

.text-allow {
    margin-bottom: 0;
}

.fieldset.fieldset-pro.fieldset-guest .field.captcha.required {
    position: absolute;
    right: -107%;
    top: 25%;
    z-index: 1;
}

.fieldset.fieldset-pro.fieldset-guest .control.captcha {
    width: 100%;
    float: none;
}

.fieldset.fieldset-pro.fieldset-guest .field.choices.newsletter {
    margin-top: 200px;
    position: relative;
    z-index: 0;
}

.meridiancustomer-account-create button.action.submit.primary {
    font-size: 16px;
}

@media all and (max-width: 1199px) {
    .fieldset.fieldset-pro.fieldset-guest .field.captcha.required {
        right: -109%;
    }
}

@media all and (max-width: 1024px) {
    .fieldset.fieldset-pro,
    .customer-account-create h1.page-title {
        margin-bottom: 0;
    }

    .fieldset.fieldset-pro.fieldset-guest .field.choices.newsletter {
        margin-top: 200px;
    }

    .meridiancustomer-account-guest .fieldset > .field:not(.choice) > .control {
        min-width: 200px;
    }
}

@media all and (max-width: 991px) {
    .meridiancustomer-account-create .page-title-wrapper {
        width: 100%;
        padding: 0 10%;
        display: block;
        box-sizing: border-box;
    }

    .meridiancustomer-account-create .page-title-wrapper.customer-centered {
        padding: 0;
    }

    .meridiancustomer-account-create .fieldset > .field:not(.choice) > .control {
        width: 100%;
        float: left;
    }

    .fieldset.fieldset-pro.fieldset-guest .field.captcha.required {
        right: -110%;
    }

    .fieldset > .field:not(.choice) > .control {
        width: 85%;
    }

    .customer-account-create .before-create-container .form.create.account,
    .field.choices.newsletter .control {
        width: 100%;
    }

    div#password-strength-meter-container, form#form-validate input.input-text {
        max-width: 285px;
    }
}

@media all and (max-width: 767px) {

    .fieldset.fieldset-pro .field.choices.newsletter {
        margin-top: 0;
    }

    body.meridiancustomer-account-guest,
    body.meridiancustomer-account-create {
        background: #fff;
    }

    .before-create-container .form.create.account fieldset.fieldset.create.account,
    .fields.customer-type.customer-centered,
    .customer-account-create .page-title-wrapper,
    .before-create-container .form.create.account .fieldset.fieldset-no-pro,
    .fields.customer-type,
    .customer-account-create .checkout-additional-fields,
    .before-create-container .form.create.account .fieldset {
        float: none;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .fields.customer-type {
        display: flex;
    }

    body.customer-account-create {
        background: #fff;
    }

    .fieldset.fieldset-pro.fieldset-guest .field.choices.newsletter {
        margin-top: 0;
    }

    .fieldset.fieldset-pro.fieldset-guest .field.captcha.required {
        position: relative;
        right: 0;
        top: 0;
    }

    .meridiancustomer-account-create .checkout-step-item {
        width: 49%;
        text-align: left;
    }

    .meridiancustomer-account-create .fields.customer-type,
    .meridiancustomer-account-create .page-title-wrapper {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        text-align: left;
        padding: 0;
        float: none;
        position: relative;
        z-index: 10;
    }

    .meridiancustomer-account-create .checkout-additional-fields {
        width: 100%;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }

    fieldset.fieldset.create.account {
        padding-top: 20px;
    }

    .meridiancustomer-account-create .fieldset > .field:not(.choice) > .control {
        width: 100%;
        float: none;
        text-align: left;
    }

    .meridiancustomer-account-create .before-create-container form .actions-toolbar,
    .column:not(.sidebar-main) .before-create-container form .actions-toolbar {
        max-width: 200px;
        margin: 20px auto 0;
    }

    .customer-account-create .control.captcha-image .captcha-img {
        display: inline-block;
    }

    .customer-account-create .checkout-additional-fields {
        text-align: left;
        padding-left: 0;
        padding-bottom: 0;
    }

    .meridiancustomer-account-create .page-title-wrapper,
    .customer-account-create .page-title-wrapper {
        display: block;
        padding: 0;
    }

    .meridiancustomer-account-create .page-title-wrapper {
        max-width: 400px;
    }

    .customer-account-create button.action.submit.primary {
        min-width: unset;
        position: relative;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .customer-account-create h1.page-title {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }

    .customer-account-create .before-create-container .form.create.account .fieldset.fieldset.create.account {
        margin-bottom: 10px;
        padding-top: 20px;
        max-width: unset;
    }

    .customer-account-create form#form-validate input.input-text,
    div#password-strength-meter-container,
    form#form-validate input.input-text {
        max-width: 100%;
    }

    .before-create-container .form.create.account .fieldset.fieldset-no-pro,
    .before-create-container .form.create.account .fieldset.fieldset-pro {
        margin-top: 0;
        clear: both;
    }

    .fieldset > .field:not(.choice) > .control {
        width: 100%;
    }
}

@media all and (max-width: 425px) {

    .meridiancustomer-account-create .page-title-wrapper .page-title {
        font-size: 0;
    }

    .fields.customer-type .field:nth-child(2) .control {
        text-align: right;
    }

    .control.captcha-image .captcha-img {
        display: inline-block;
    }

    .before-create-container.dashboard-holder {
        padding-bottom: 0;
    }

    .fields.customer-type {
        width: 100%;
    }

    button.action.reload.captcha-reload {
        max-width: 110px;
        font-size: 10px;
        padding: 5px;
    }

    .customer-account-create .page-title-wrapper {
        padding: 0;
    }

    .customer-account-create button.action.reload.captcha-reload {
        margin-bottom: 10px;
    }

    .meridiancustomer-account-create .fields.customer-type,
    .meridiancustomer-account-create .page-title-wrapper,
    .customer-account-create .page-title-wrapper,
    .customer-account-create .checkout-additional-fields,
    .before-create-container .form.create.account {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .customer-account-create .before-create-container {
        padding-bottom: 0;
    }

    .meridiancustomer-account-create .before-create-container form .actions-toolbar {
        margin-top: 0;
    }

    .before-create-container .form.create.account .fieldset.fieldset-no-pro,
    .before-create-container .form.create.account .fieldset.fieldset-pro {
        max-width: unset;
    }

    .meridiancustomer-account-create .checkout-step-item {
        width: 155px;
        padding: 0;
    }
}

@media all and (max-width: 370px) {
    .meridiancustomer-account-create .page-title-wrapper {
        max-width: 300px;
    }
}

@media all and (max-width: 320px) {
    .customer-account-create .checkout-additional-fields {
        padding: 15px 15px 30px;
    }

    .meridiancustomer-account-create .checkout-step-item {
        width: auto;
    }

    .meridiancustomer-account-create .newsletter.newsletter-guest label {
        max-width: 90%;
        vertical-align: top;
    }

    .customer-account-create .page-title-wrapper {
        padding: 0 15px;
    }

    .meridiancustomer-account-create .page-title span.base {
        display: inline-block;
    }

    .meridiancustomer-account-create .page-title span {
        display: none;
    }

    .meridiancustomer-account-create .page-title-wrapper.customer-centered,
    .meridiancustomer-account-create .page-title-wrapper {
        padding: 0 30px;
    }
}