<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
$_attributeValueDesc = $_helper->productAttribute($_product, $_product->getDescription(), 'description');
?>
<?php if ($_attributeValue): ?>
    <div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
        <?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel
            ?></strong><?php endif; ?>
        <div class="value" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>>
            <?php echo $block->getChildHtml('webmerattachdesc'); ?>
            <div class="desc">
                <?php if($headDesc = $_product->getData('heading_desc')): ?>
                    <h2 class="head-desc"><?php echo $headDesc ?></h2>
                <?php endif; ?>
                <div class="details-tab-content">
                <?= /* @escapeNotVerified */ $_attributeValueDesc ?>
                </div>
            </div>
            <div class="desc-flex">
            <?php
            for($i=1;$i<=6;$i++):
                $visibilityCode = 'visibility_'.$i;
                $headingCode = 'heading_'.$i;
                $shortDescCode = 'short_desc_'.$i;
                if($_product->getData($visibilityCode)):
                    $_attributeValue = $_helper->productAttribute($_product, $_product->getData($shortDescCode), $shortDescCode);
            ?>
                <div class="item-list desc desc-<?php echo $i; ?>">
                    <h2 class="head-desc"><?php echo $_product->getData($headingCode); ?></h2>
                    <div class="content-desc"><?php echo $_attributeValue; ?></div>
                </div>
                <?php endif; ?>
            <?php endfor; ?>
            <?php
            if($_product->getData('visibility_7')):
                $_attributeValue = $_helper->productAttribute($_product, $_product->getData('short_desc_7'), 'short_desc_7');
            ?>
                <div class="desc desc-7">
                    <h2 class="head-desc"><?php echo $_product->getData('heading_7'); ?></h2>
                    <div class="content-desc"><?php echo $_attributeValue; ?></div>
                </div>
            <?php endif; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
