<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="left-sku <?php /* @escapeNotVerified */ echo $_className?>">
     <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
         <?php
         /**
          * max limit 1270
          * mim limit 740
          */
         if($limitChars = $_product->getLimitShortDesc()):
             $oldContent = strip_tags($_attributeValue);
             $length = strlen($oldContent);
             $dots = ($length > $limitChars) ? '...' : '';
             $content = mb_substr($oldContent,0,$limitChars);
             echo sprintf('<p>%s</p>',$content.$dots);
         else:
             ?>
	        <?php /* @escapeNotVerified */ echo $_attributeValue; ?>
         <?php endif; ?>
    </div>
</div>
<?php endif; ?>

