<?php
$customer = $block->getCustomer();
?>
<form action="<?php echo $block->getApplyCodeUrl(); ?>" method="POST">
	<div class="fieldset">
		<div class="field">
			<input type="checkbox" <?php if($customer->getUpdatePointNotification()) { ?>checked="checked"<?php } ?> name="update_point_notification"/> <?php echo __('Receive email after balance points balance changed'); ?>
		</div>
		<div class="field">
			<input type="checkbox" <?php if($customer->getExpirePointNotification()) { ?>checked="checked"<?php } ?>  name="expire_point_notification"/> <?php echo __('Receive email before points expired'); ?>
		</div>
		<div class="field">
			<button class="button lrw-button" id="lrw-button" value="<?php echo __('Apply Code'); ?>">
				<span><?php echo __('Save Code'); ?></span>
			</button>
		</div>
	</div>
</form>