.checkout-index-index {
  #checkout-review-table {
    border-bottom: 1px solid #c8c8c8;
    thead, tbody {
      display: block;
      width: 100%;
    }
    tbody {
      max-height: 210px;
      overflow-y: auto;
      padding-right: 5px;
    }
  }
  .checkout-additional-fields {
    padding: 20px 20%;
    width: 100% !important;
    > li {
      width: 45%;
      text-align: center;
      &.active {
      }
      &:not(.active) {
        color: #0097BA;
        .number-item {
          background: #0097BA;
          color: #fff;
        }
        &:after {
          content: "🗸";
          font-size: 20px;
          line-height: 0;
          vertical-align: middle;
        }
      }
    }
  }
  #onestepcheckout_logout_link {
    display: none;
  }
  .container {
    width: 100% !important;
  }
  .address-information {
    .form.form-shipping-address {
      div[name="shippingAddress.postcode"] {
        input {
          padding: 25px 0 0 0 !important;
        }
      }
    }
    .field {
      .control {
        position: static !important;
        .label {
          top: 0 !important;
        }
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 100% !important;
    }

    .osc-product-image {
      display: none !important;
    }

    .address-information {
      .form.form-shipping-address {
        div[name="shippingAddress.postcode"] {
          input {
            padding: 25px 0 0 0 !important;
          }
        }
      }
      .field {
        .control {
          position: static !important;
          .label {
            top: 0 !important;
          }
        }
      }
    }

    .shipping-method-information {
      .radioparent {
        img {
          display: none !important;
        }
      }
    }

    .container.cdp-onecheck {
      width: 100% !important;

      #meridian_bankpayment, #pbxep_threetime, #banktransfer, #pbxep_cb {
        margin-top: 6px !important;
      }
      .checkout-payment-method .field-select-billing, .checkout-payment-method .billing-address-form {
        max-width: unset !important;
      }
    }
  }
  @media (max-width: 991px) {
    .onestepcheckout-payment-methods {
      padding: 12px 4% !important;
    }

    .action-help {
      display: none;
    }

    .wrap-case-3colums {
      > div {
        width: 100% !important;
      }
    }

    .container.cdp-onecheck {
      width: 100% !important;

      #meridian_bankpayment, #pbxep_threetime, #banktransfer, #pbxep_cb {
        margin-top: 6px !important;
      }
      .checkout-payment-method .field-select-billing, .checkout-payment-method .billing-address-form {
        max-width: unset !important;
      }
    }

    .address-information {
      .form.form-shipping-address {
        div[name="shippingAddress.postcode"] {
          input {
            padding: 15px 0 0 0 !important;
          }
        }
        .field {
          .control {
            position: static !important;
            .label {
              top: 0 !important;
            }
          }
        }
      }
    }

    .shipping-method-information {
      .radioparent {
        img {
          display: none !important;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .address-information {
      .form.form-shipping-address {
        div[name="shippingAddress.postcode"] {
          input {
            padding: 25px 0 0 0 !important;
          }
        }
      }
    }
  }
}
#checkout-review-table {
  .osc-product-image {
    position: relative;
  }
  span.product-item-pack {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #0099b8;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
  }
  .osc-as-table-header {
    padding: 0 0 10px 0;
    font-size: 11px;
    @media(max-width: 1200px){
      > div {
        display: inline-block !important;
        font-weight: 700;
        &:nth-of-type(1) {
          width: 63% !important;
        }
        &:nth-of-type(2) {
          width: 10%;
        }
        &:nth-of-type(3) {
          width: 24%;
        }
      }
    }
    > div {
      display: inline-block !important;
      font-weight: 700;
      &:nth-of-type(1) {
        width: 64%;
      }
      &:nth-of-type(2) {
        width: 10%;
      }
      &:nth-of-type(3) {
        width: 24%;
      }
    }
  }
  .osc-as-table-body {
    max-height: 180px;
    overflow-y: auto;
    .as-but-osc {
      display: block;
      width: 100%;
      position: relative;
      &[aria-expanded="true"] {
        &:after {
          content: '\e621';
        }
      }
      &:after {
        position: absolute;
        right: 0px;
        top: 0px;
        font-family: 'icons-blank-theme';
        width: 20px;
        height: 20px;
        font-size: 25px;
        color: #000;
        content: '\e622';
      }
    }
    .inner-wrap {
      .last-row-osc {
        width: 100%;
        clear: both;
      }
      > div {
        display: block;
        &:nth-of-type(1) {
          width: 25%;
          float: left;
        }
        &:nth-of-type(2) {
          width: 72%;
          float: right;
          .first-row {
            > .as-osc-col {
              font-size: 12px;
              display: table-cell;
              &:nth-of-type(1) {
                width: 48%;
              }
              &:nth-of-type(2) {
                width: 15%;
                input.qty-item-display {
                  text-align: center;
                  display: inline-block;
                  width: 100%;
                  border: none;
                  background: unset;
                  font-weight: 700;
                }
              }
              &:nth-of-type(3) {
                text-align: right;
                .price {
                  font-weight: 700 !important;
                  font-size: 12px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

#one-step-checkout-form .checkout-review-load .data-table {
  width: 95% !important;
}

#one-step-checkout-form .onestepcheckout-shipping-method-section .radioparent img {
  display: inline-block!important;
}
.checkout-index-index, .meridiancustomer-account-guest, .meridiancustomer-account-create{
  .sections.nav-sections{
    display: none !important;
  }
  .block.block-search{
    display: none !important;
  }
  .account-drop{
    display: none !important;
  }
  .tel-info {
    float: right !important;
    margin-right: 150px !important;
  }
  .page-header{
    border-bottom: none !important;
  }
}