<?php
/**
 * @var $block \Meridian\BankPayment\Block\Form
 */
?>
<?php $methodCode = $block->escapeHtml($block->getMethodCode());?>
<ul class="form-list checkout-agreements" id="payment_form_<?php /* @noEscape */ echo $methodCode ?>" style="display:none;">
    <li>
        <?php if ($_cmsPage = $block->getFormCmsUrl()): ?>
            <div class="<?php /* @noEscape */ echo $methodCode ?>-instructions-content checkout-agreement-item-content">
                <p><?php echo $block->escapeHtml(__('More information on this payment method can be found <a target="_blank" href="%1">here</a>.', $_cmsPage)); ?></p>
            </div>
        <?php elseif ($_accounts = $block->getAccounts()): ?>
            <?php if (count($_accounts) == 1): ?>
                <?php if ($block->getMethod()->getPayWithinXDays() > 0): ?>
                    <?php echo $block->escapeHtml(__('Please transfer the money within %1 days to the following bank account', $block->getMethod()->getPayWithinXDays())); ?>:
                <?php else: ?>
                    <?php echo $block->escapeHtml(__('Please transfer the money to the following bank account')); ?>:
                <?php endif; ?>
            <?php else: ?>
                <?php if ($block->getMethod()->getPayWithinXDays() > 0): ?>
                    <?php echo $block->escapeHtml(__('Please transfer the money within %1 days to one of the following bank accounts', $block->getMethod()->getPayWithinXDays())); ?>:
                <?php else: ?>
                    <?php echo $block->escapeHtml(__('Please transfer the money to one of the following bank accounts')); ?>:
                <?php endif; ?>
            <?php endif; ?>
            <br /><br />
            <div class="<?php /* @noEscape */ echo $methodCode ?>-instructions-content checkout-agreement-item-content">
                <?php $first = true; ?>
                <?php foreach($_accounts as $_account): ?>
                    <?php if (!$first): ?>
                        <br /><hr/><br />
                    <?php endif; $first = false; ?>
                    <table>
                        <tbody>
                        <?php if ($_accountHolder = $_account->getAccountHolder()): ?>
                            <tr><td><label><?php echo $block->escapeHtml(__('Account holder')) ?>:</label> </td><td><?php echo $block->escapeHtml($_accountHolder) ?></td></tr>
                        <?php endif; ?>
                        <?php if ($_bankName = $_account->getBankName()): ?>
                            <tr><td><label><?php echo $block->escapeHtml(__('Bank name')) ?>:</label> </td><td><?php echo $block->escapeHtml($_bankName) ?></td></tr>
                        <?php endif; ?>
                        <?php if ($block->displaySepaAccountData($_account)): ?>
                            <?php if ($_iban = $_account->getIban()): ?>
                                <tr><td><label><?php echo $block->escapeHtml(__('IBAN')) ?>:</label> </td><td><?php echo $block->escapeHtml($_iban) ?></td></tr>
                            <?php endif; ?>
                            <?php if ($_bic = $_account->getBic()): ?>
                                <tr><td><label><?php echo $block->escapeHtml(__('BIC')) ?>:</label> </td><td><?php echo $block->escapeHtml($_bic) ?></td></tr>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if ($block->displayNonSepaAccountData($_account)): ?>
                            <?php if ($block->displayFullAccountData($_account)): ?>
                                <tr><td colspan="2"><br /><strong><?php echo $block->escapeHtml(__('Account data for non SEPA countries')); ?></strong></td></tr>
                            <?php endif; ?>
                            <?php if ($_accountNumber = $_account->getAccountNumber()): ?>
                                <tr><td><label><?php echo $block->escapeHtml(__('Account number')) ?>:</label> </td><td><?php echo $block->escapeHtml($_accountNumber) ?></td>
                                </tr>
                            <?php endif; ?>
                            <?php if ($_sortCode = $_account->getSortCode()): ?>
                                <tr><td><label><?php echo $block->escapeHtml(__('Sort code')) ?>:</label> </td><td><?php echo $block->escapeHtml($_sortCode) ?></td>
                                </tr>
                            <?php endif; ?>
                        <?php endif; ?>
                        </tbody>
                    </table>
                <?php endforeach; ?>
                <?php if ($_customText = $block->getMethod()->getCustomText()): ?>
                    <br />
                    <?php echo $block->escapeHtml($_customText) ?><br />
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </li>
</ul>
