<?php
/**
 * @var $block \Meridian\BankPayment\Block\Info
 */
?>
<div class="order-payment-method-name"><?php echo $block->escapeHtml($block->getMethod()->getTitle()); ?> - <span style="font-style:italic;"><?php echo $block->escapeHtml(__('Account info')) ?></span></div>
<?php $_accounts = $block->getAccounts(); ?>
<?php foreach($_accounts as $_account): ?>
<table class="data-table admin__table-secondary bankpayment_info">
    <tbody>
    <?php if ($_accountHolder = $_account->getAccountHolder()): ?>
        <tr>
            <td class="bankcol1"><label><?php echo $block->escapeHtml(__('Account holder')) ?>:</label> </td>
            <td class="bankcol2"><?php echo $block->escapeHtml($_accountHolder) ?></td>
        </tr>
    <?php endif; ?>
    <?php if ($_bankName = $_account->getBankName()): ?>
        <tr>
            <td class="bankcol1"><label><?php echo $block->escapeHtml(__('Bank name')) ?>:</label> </td>
            <td class="bankcol2"><?php echo $block->escapeHtml($_bankName) ?></td>
        </tr>
    <?php endif; ?>
    <?php if ($block->displaySepaAccountData($_account)): ?>
        <?php if ($_iban = $_account->getIban()): ?>
            <tr>
                <td class="bankcol1"><label><?php echo $block->escapeHtml(__('IBAN')) ?>:</label> </td>
                <td class="bankcol2"><?php echo $block->escapeHtml($_iban) ?></td>
            </tr>
        <?php endif; ?>
        <?php if ($_bic = $_account->getBic()): ?>
            <tr>
                <td class="bankcol1"><label><?php echo $block->escapeHtml(__('BIC')) ?>:</label> </td>
                <td class="bankcol2"><?php echo $block->escapeHtml($_bic) ?></td>
            </tr>
        <?php endif; ?>
    <?php endif; ?>
    <?php if ($block->displayNonSepaAccountData($_account)): ?>
        <?php if ($block->displayFullAccountData($_account)): ?>
            <tr>
                <td colspan="2"><br /><strong><?php echo __('Account data for non SEPA countries'); ?></strong></td>
            </tr>
        <?php endif; ?>
        <?php if ($_accountNumber = $_account->getAccountNumber()): ?>
            <tr>
                <td class="bankcol1"><label><?php echo $block->escapeHtml(__('Account number')) ?>:</label> </td>
                <td class="bankcol2"><?php echo $block->escapeHtml($_accountNumber) ?></td>
            </tr>
        <?php endif; ?>
        <?php if ($_sortCode = $_account->getSortCode()): ?>
            <tr>
                <td class="bankcol1"><label><?php echo $block->escapeHtml(__('Sort code')) ?>:</label> </td>
                <td class="bankcol2"><?php echo $block->escapeHtml($_sortCode) ?></td>
            </tr>
        <?php endif; ?>
    <?php endif; ?>
    </tbody>
</table>
<?php endforeach; ?>
<p>
<?php if ($_customText = $block->escapeHtml($block->getMethod()->getCustomText())): ?>
    <br />
    <?php echo $_customText; ?><br />
<?php endif; ?>
</p>
