<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$block_price = $this->getLayout()->createBlock("\Magento\Tax\Block\Item\Price\Renderer");
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('\Meridian\Base\Helper\Data');
$currentPirceDisplay = $helperBase->currentPriceDisplayType($block->getSaleableItem());
$priceType = $block->getPriceType();
//print_r($priceType);
$product = $block->getSaleableItem();
$priceIncTax = false;
$priceExclTax = false;
$priceAmount = 0;
$isCompareProduct = $helperBase->getCountCompareProducts($product);
if(($currentPirceDisplay == 'INC_TAX') && ($product->getTypeId() === 'configurable')) {
    $priceAmount = $helperBase->getProductMinimalPrice($product, $currentPirceDisplay);
    if (!is_null($product)) {
        $prices = $helperBase->getPriceInclAndExclTax($product);
        if (isset($prices['incl'])) {
            $priceIncTax = $helperBase->currencyFormate($prices['incl']);
        }

        if (isset($prices['excl'])) {
            $priceExclTax = $helperBase->currencyFormate($prices['excl']);
        }
    }
} else {
    $priceIncTax =  $helperBase->currencyFormate($helperBase->getPriceInclTax($product,$product->getFinalPrice()));
}
$typeTax = '';
switch ($currentPirceDisplay){
    case 'INC_TAX':
        $typeTax = __('Incl. Tax');
        break;
    case 'EXC_TAX':
        $typeTax = __('Excl. Tax');
        break;
}
?>
<?php //$_product = $block->getProduct(); ?>
<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

<span class="price-container <?php /* @escapeNotVerified */
echo $block->getAdjustmentCssClasses() ?>"
    <?php echo $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if($priceType === 'oldPrice'): ?>
    <?php endif; ?>
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?php /* @escapeNotVerified */
            echo $block->getDisplayLabel(); ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> <?php endif; ?>
        <?php echo ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
            data-price-amount="<?php /* @escapeNotVerified */

            echo ($priceAmount) ? number_format($priceAmount) : $block->getDisplayValue(); ?>"
            data-price-type="<?php /* @escapeNotVerified */
            echo $block->getPriceType(); ?>"
            class="price-wrapper <?php /* @escapeNotVerified */
            echo $block->getPriceWrapperCss(); ?>"
        <?php echo $block->getSchema() ? ' itemprop="price"' : '' ?>>
        <span><?php /* @escapeNotVerified */
            echo $block->formatCurrency(($priceAmount) ? number_format($priceAmount) : $block->getDisplayValue(), (bool)$block->getIncludeContainer()) ?> </span>
    </span>
    <span class="tax-type"><?php echo $typeTax; ?></span>
    <?php
    if($priceType == 'finalPrice' && $currentPirceDisplay == 'EXC_TAX'):
        ?>
    <span class="price-including-tax price-after-tax" data-label="<?php echo __('Incl. Tax'); ?>"><span
                class="price"><?php echo $priceIncTax; ?></span></span>
    <?php endif; ?>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?php echo $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */
        echo $block->getDisplayCurrencyCode() ?>"/>
    <?php endif; ?>
</span>


