<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<form action="" method="post" id="form-validate" class="form send confirmation" data-mage-init='{"validation":{}}'>
    <?php echo $block->getBlockHtml('formkey')?>
    <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ $block->escapeHtml( __('* Required Fields')) ?>">
        <p class="field note"><?php /* @escapeNotVerified */ echo __('Please enter your email below and we will send you the confirmation link.') ?></p>
        <div class="field email required">
            <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email_address" class="input-text" value="<?php echo $block->escapeHtml($block->getEmail()) ?>" data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action send primary"><span><?php /* @escapeNotVerified */ echo __('Send confirmation link') ?></span></button>
        </div>
        <div class="secondary">
            <a href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>" class="action back"><span><?php /* @escapeNotVerified */ echo __('Back to Sign In') ?></span></a>
        </div>
    </div>
</form>
