<!--@subject {{trans "Prix Imbattable"}} @-->
<!--@vars {
"var data.firstname":"First Name",
"var data.lastname":"Last Name",
"var data.productname":"Product Name",
"var data.prixproduct":"Prix TTC constaté",
"var data.addressurl":"Adresse URL",
"var data.email":"Adresse mail"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><b>{{trans "First Name"}}</b></td>
        <td>{{var data.firstname}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Last Name"}}</b></td>
        <td>{{var data.lastname}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Product Name"}}</b></td>
        <td>{{var data.productname}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Prix TTC constaté"}}</b></td>
        <td>{{var data.prixproduct}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Adresse URL"}}</b></td>
        <td>{{var data.addressurl}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Adresse mail"}}</b></td>
        <td>{{var data.email}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}