<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
$priceExcludeTax = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(); //special_price ,final_price
$helperCustom = $this->helper('Comptoirdespros\CustomerStatus\Helper\Custom');
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Brand');
$categoryData = $helperBrand->getBrandData();
$InstalmentRangeStatus = $helperCustom->checkInstalmentRange($priceExcludeTax);
$deliveryTime = $_product->getData('product_delivery_time');
$deliveryInfoMessage = $_product->getData('product_delivery_info_message');
$qty = $_product->getExtensionAttributes()->getStockItem()->getQty();
if ($qty > 0) {
    $circleColor = 'green';
} elseif ($qty <= 0) {
    $circleColor = 'yellow';
} else {
    $circleColor = 'red';
}
if(!empty($categoryData['product_delivery_time'])) {
    $deliveryTime = $categoryData['product_delivery_time'];
}
if(!empty($categoryData['product_delivery_info_message'])) {
    $deliveryInfoMessage = $categoryData['product_delivery_info_message'];
}
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>


<div class="short-details">

<div class="holder">
    <div class="short-left">
        <div class="icon-holder">
            <img src='<?php echo $this->getViewFileUrl('images/le-moins-cher-garantie.png'); ?>'
                 alt="le moins cher garantie">
        </div>
        <div class="short-price">
            <?php echo $block->getProductPrice($_product); ?>
            <span class="sub-price">
        <?php if (!empty($InstalmentRangeStatus)) {
            $instalmentPayment = $helperCustom->currencyFormate($priceExcludeTax / 3);
            echo "3X <b> $instalmentPayment </b> " . __('sans frais');
        } ?>
            </span>
        </div>
    </div>
    <!-- short-left -->

    <!-- Start short-right -->
    <div class="short-right">
        <span class="green-text ">
    <!--                <span class="product-circle"><i class="fa fa-circle" aria-hidden="true"></i></span>--> <?php //echo $circleColor; ?>
            <?php if ($_product->isAvailable()): ?>
                <?php /* @escapeNotVerified */
                echo __('In stock') ?>
            <?php else: ?>
                <?php /* @escapeNotVerified */
                echo __('Out of stock') ?>
            <?php endif; ?>
            <?php
            if (!empty($deliveryTime)) {
                echo $deliveryTime;
            }
            ?>
            <?php
            if (!empty($deliveryInfoMessage)) {

               // echo '<span class="product-question"><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="' . $deliveryInfoMessage . '"></i></span>';
            }
            ?>

        </span>

        <?php //$priceExcludeTax = $_product->getPrice('final_price')->getAmount()->getValue(); ?>
        <span class="free-delivery">
            <?php

            if ($priceExcludeTax >= 80) {
                echo __('Livraison offerte');
            }
            ?>
        </span>
        <ul class="fan-options">
            <li><?php echo __('Options de financement') ?></li>
            <li><?php echo __('Prix dégressifs') ?></li>
        </ul>
    </div>
    <!-- short-right -->
</div>
<!-- holder -->




    <div class="box-tocart update">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field-qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Quantité') ?></span></label>
            <div class="control">
                <input type="number" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Quantité') ?>" class="input-text qty" data-validate="{'required-number':true,digits:true}"/>
            </div>
        </div>
        <?php endif; ?>
        <div class="field-actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-updatecart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
