<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Already customer')) ?></strong>
        <span class="sub-title"><?php echo $block->escapeHtml(__('Je me connecte')) ?></span>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getUrl('meridiancustomer/account/loginPost')) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]"
                               placeholder="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                               value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>"
                               id="email" type="email" class="input-text"
                               title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]"
                               type="password"
                               placeholder="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                               class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                               data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form.additional.info') ?>
                <div class="actions-toolbar">
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getUrl('customer/account/forgotpassword')) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                    <div class="primary">
                        <button type="submit" class="action login primary" name="send" id="send2">
                            <span><?= $block->escapeHtml(__('Log In')) ?></span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="block newcustomer">
    <div class="block-title">
        <strong id="newcustomer"><?= $block->escapeHtml(__('New Customer')) ?></strong>
        <span class="sub-title"><?php echo $block->escapeHtml(__('I create my account in 2 minutes')) ?></span>
    </div>
    <div class="block-content newcustomer-guestpage hide_onmobile">
        <div class="guestpage-items-wrap">
            <p class="no-margin-bottom"><strong><?php echo $block->escapeHtml(__('Why create an account?')) ?></strong></p>
            <p class="text-allow"><?php echo $block->escapeHtml(__('At COMPTOIR DES PROS, your account allows you to:')) ?></p>
            <ul>
                <li><?= $block->escapeHtml(__('Accumulate loyalty points')) ?>,</li>
                <li><?= $block->escapeHtml(__('Place your orders faster')) ?></li>
                <li><?= $block->escapeHtml(__('Consulter et suivre vos commandes')) ?></li>
                <li><?= $block->escapeHtml(__('Be informed of the tracking and shipping of your orders')) ?></li>
                <li><?= $block->escapeHtml(__('Get Privilege* access to benefit from even better prices...')) ?></li>
            </ul>
        </div>
    </div>
        <a href="<?= $block->getUrl('meridiancustomer/account/create') ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>

</div>
<div class="block block-customer-invite">
    <div class="block-title">
        <strong id="guest"><?= $block->escapeHtml(__('Set one as a guest')) ?></strong>
        <span class="sub-title"><?php echo $block->escapeHtml(__('Order without logging in')) ?></span>
    </div>
    <div class="block-content">
        <p class="left"><strong><?= $block->escapeHtml(__('What is guest mode?')) ?></strong></p>
        <p class="left"><?= $block->escapeHtml(__('Guest mode allows you to place an order quickly, without logging in.'))  ?></p>
        <p class="more-margin-bottom hide_onmobile"><?= $block->escapeHtml(__('Your account will be created only for your order but will not allow you to enjoy the benefits of creating an account at Comptoir des Pros.')) ?></p>
        <a href="<?= $block->getUrl('meridiancustomer/account/create',['guest'=>1]) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Continue')) ?></span></a>
    </div>
</div>