<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<div class="osc-product-image" data-bind="visible: isShowImage">
    <img data-bind="attr: {'src': getSrc($parents[1]), 'width': getWidth($parents[1]), 'height': getHeight($parents[1]), 'alt': getAlt($parents[1]) }"/>
    <!-- ko if: isBundle($parents[1]) -->
    <span class="product-item-pack" data-bind="text: 'pack'"></span>
    <!-- /ko -->
</div>