<?php /*var $block \WebMeridian\ExportProducts\Block\System\Config\Export */ ?>
<div id="get-products-button">
    <?php echo $block->getButtonHtml() ?>
    <p id="status" class="hide-element">Status: Wait</p>
    <a id="link" href="" download><span class="hide-element">get file</span></a>
</div>
<style>
    #status {
        margin-top: 10px;
    }
    .show-element {
        display: block;
    }
    .hide-element {
        display: none;
    }
</style>
<script>
    require([
        'jquery',
        'prototype'
    ], function($){
        $('#export_button').click(function(){
            $('#status').removeClass("hide-element");
            $('#status').addClass("show-element");
            params = {};
            new Ajax.Request('<?php echo $block->getExportUrl();?>', {
                parameters: params,
                loaderArea: false,
                dataType: 'json',
                asynchronous:   true,
                onSuccess: function (response) {
                    var link = response.responseText.evalJSON();
                    $('#link').attr('href', link.link);
                    $('#status').text('Status: Ready');
                    $('#link span').removeClass("hide-element");
                    $('#link span').addClass("show-element")

                }
            });
        });
    });
</script>