/************************************************************************************
Document : Style.css
Created on : 3rd Nov 2016
Author : BDT
Description: Custom css for frontend pages.
*************************************************************************************/

.field-required {
    height: 75px;
    width: 350px;
}

.field {
    /*height: 170px;*/
    width: 350px;

}

.required {
    color: red;
}

.request-head {
    background-color: #f4f4f4;
}

.page-title.title-buttons {
    margin-bottom: 4%;
    margin-top: 0;
}
button {

    background-color: #1979c3;
    color: white;
}