<div class="checkout-billing-address">

    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping'}"/>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping'}">
            <span data-bind="i18n: 'My billing and shipping address are the same'"></span>
        </label>
    </div>
    <fieldset class="fieldset">
        <!-- ko template: 'WebMeridian_Checkout/billing-address/list' --><!-- /ko -->
        <!-- ko template: 'WebMeridian_Checkout/billing-address/form' --><!-- /ko -->
        <div class="actions" data-bind="if: isAddressFormVisible() || isAddressFormListVisible()">
            <button class="action action-cancel osc-edit-button" type="button" data-bind="click: cancelAddressEdit">
                <span data-bind="i18n: 'Cancel'">Annuler</span>
            </button>
            <button class="action action-update osc-ok-button update-address-button" type="button"
                    data-bind="click: updateAddress">
                <span data-bind="i18n: 'Update'">Mettre à jour</span>
            </button>
        </div>
        <div class="actions" data-bind="if: isAddressChanged()">

            <div class="billing-address-details" data-bind="if: currentBillingAddress()">
                <!-- ko text: currentBillingAddress().prefix --><!-- /ko -->
                <!-- ko text: currentBillingAddress().firstname --><!-- /ko -->
                <!-- ko text: currentBillingAddress().lastname --><!-- /ko -->
                <!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/>
                <!-- ko text: currentBillingAddress().street --><!-- /ko -->
                <!-- ko if: currentBillingAddress().street[1] !== '' -->,<!-- /ko -->
                <!-- ko text: currentBillingAddress().city --><!-- /ko -->
                <!-- ko if: typeof(currentBillingAddress().city) !== 'undefined' -->, <!-- /ko -->
                <!-- ko text: currentBillingAddress().region --><!-- /ko -->
                <!-- ko if: typeof(currentBillingAddress().region) !== 'undefined' -->, <!-- /ko -->
                <!-- ko text: currentBillingAddress().postcode --><!-- /ko -->
                <!-- ko if: currentBillingAddress().postcode !== '' -->, <!-- /ko -->
                <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko -->
                <!-- ko if: typeof(currentBillingAddress().telephone) !== 'undefined' -->, <!-- /ko -->
                <!-- ko text: currentBillingAddress().telephone --><!-- /ko -->

                <div class='clear'></div>
                <div class="clear"></div>
            </div>

                <button type="button"
                        class="action action-edit-address osc-edit-button"
                        data-bind="visible: isAddressChanged(), click: editAddress">
                    <span data-bind="i18n: 'Edit'"></span>
                </button>
        </div>
    </fieldset>

</div>
